@model QuestionModel
@{
    ViewData["Title"] = "Добавление вороса";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AddQuestion.css" asp-append-version="true" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="fullscreen-container">
        <div class="addquestion-container">
            <h1 class="header">Добавление вопроса</h1>
            <form class="form" asp-controller="Admin" asp-action="AddQuestions" method="post">
                <div class="input-group">
                    <label for="questionText">Вопрос</label>
                    <input type="text" id="questionText" name="questionText" placeholder="Введите вопрос" required asp-for="QuestionText">
                    <span asp-validation-for="QuestionText" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="LinkPhoto">Ссылка на фото(при необходимости)</label>
                    <input type="text" id="linkPhoto" name="linkPhoto" placeholder="Укажите ссылку на фото(при необходимости)" asp-for="LinkPhoto">
                    <span asp-validation-for="LinkPhoto" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer1">Ответ 1</label>
                    <input type="text" id="answer1" name="answer1" placeholder="Введите первй ответ" required asp-for="Answer1">
                    <span asp-validation-for="Answer1" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer2">Ответ 2</label>
                    <input type="text" id="answer2" name="answer2" placeholder="Введите второй ответ" required asp-for="Answer2">
                    <span asp-validation-for="Answer2" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer3">Ответ 3</label>
                    <input type="text" id="answer3" name="answer3" placeholder="Введите третий ответ" required asp-for="Answer3">
                    <span asp-validation-for="Answer3" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer4">Ответ 4</label>
                    <input type="text" id="answer4" name="answer4" placeholder="Введите четвертый ответ" required asp-for="Answer4">
                    <span asp-validation-for="Answer4" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="CorrectAnswer">Правильный ответ</label>
                    <input type="text" id="correctAnswer" name="correctAnswer" placeholder="Введите правильеый ответ" required asp-for="CorrectAnswer">
                    <span asp-validation-for="CorrectAnswer" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Topic">Раздел</label>
                    <select id="topic" name="topic" required asp-for="Topic">
                        <option value="1">ПДД</option>
                        <option value="2">Дорожные знаки</option>
                        <option value="3">Медецинская помощь</option>
                        <option value="4">Устройство авто</option>
                    </select>
                    <span asp-validation-for="Topic" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <button class="button">Добавить вопрос</button>
                <div class="text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TrafficRegulations">Все вопросы</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminIndex">Назад</a>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    // Получаем путь предыдущей страницы
    var referrerPath = new URL(document.referrer).pathname.toLowerCase();

    // Проверяем, содержит ли путь "/admin/admintrafficregulations"
    if (referrerPath.includes("/admin/admintrafficregulations")) {
        // Если содержит, выбираем "Дорожные знаки" в списке
        document.getElementById("topic").value = "1";
    }

    // Проверяем, содержит ли путь "/admin/adminroadsigns"
    else if (referrerPath.includes("/admin/adminroadsigns")) {
        // Если содержит, выбираем "Дорожные знаки" в списке
        document.getElementById("topic").value = "2";
    }

    // Проверяем, содержит ли путь "/admin/adminroadsigns"
    else if (referrerPath.includes("/admin/adminmedicalcare")) {
        // Если содержит, выбираем "Дорожные знаки" в списке
        document.getElementById("topic").value = "3";
    }

    // Проверяем, содержит ли путь "/admin/adminroadsigns"
    else if (referrerPath.includes("/admin/admincardevice")) {
        // Если содержит, выбираем "Дорожные знаки" в списке
        document.getElementById("topic").value = "4";
    }
    
</script>