.image-button {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    filter: brightness(50%);
    border-radius: 50%;
}

    .image-button:hover {
        filter: brightness(100%);
        border-radius: 50%;
    }

.question-form .image-button {
    visibility: hidden; /* Скрыть кнопки по умолчанию */
}

.question-form:hover .image-button {
    visibility: visible; /* Показать кнопки при наведении на форму */
}

.vertical-line {
    border-left: 1px solid black;
    height: 15px;
    margin: 0 5px;
    display: inline-block;
}

#detailedInformation {
    position: fixed;
    top: 80px; /* Расположение меню относительно кнопки */
    right: 0px;
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
    z-index: 1; /* Чтобы меню находилось поверх остального контента */
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .8rem;
}

    .input-group input {
        font-size: .9rem;
        padding: 7px;
        border: none;
        outline: none;
        border-bottom: 2px solid hsl(0, 0%, 83%);
    }

        .input-group input:focus {
            box-shadow: 0 2px 0 hsl(178, 100%, 50%);
            border-bottom: none;
        }

label{
    font-size: 16px;
}
