body {
}

.sections .section {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

    .sections .section:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
    }


.text {
    margin-right: 16px;
}

.image {
    margin-bottom: 15px;
    max-width: 100%;
}

.road-signs{
    margin-top: 50px;
}
