.question.incorrect {
    background-color: #ffcccc;
}

    .question.incorrect label {
        color: red;
    }

.button {
    max-width: 250px;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(53deg, rgba(25,191,203,1) 6%, rgba(188,81,218,1) 73%);
    color: white;
    font-size: 1rem;
}

    .button:focus {
        box-shadow: 0 0 0 1px hsl(178, 100%, 50%);
    }

.question-form .edit-button,
.question-form .delete-button {
    visibility: hidden; /* Скрыть кнопки по умолчанию */
}

.question-form:hover .edit-button,
.question-form:hover .delete-button {
    visibility: visible; /* Показать кнопки при наведении на форму */
}
