@{
    ViewData["Title"] = "Устройство авто";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
}

<h1 id="title">Устройство авто</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="5" style="margin-left: 0px; text-decoration: none">Тест</a>
	<div class="vertical-line"></div>
</div>