@{
	ViewData["Title"] = $"Устройство авто";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
	@* 	<link rel="stylesheet" href="~/css/Questions.css asp-append-version="true" /> *@
}

<h1 id="title">Неисправности</h1>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Тормозные системы</a></p>
	<p><a href="#section2" class="section">Глава 2. Рулевое управление</a></p>
	<p><a href="#section3" class="section">Глава 3. Внешние световые приборы</a></p>
	<p><a href="#section4" class="section">Глава 4. Стеклоочистители и стеклоомыватели ветрового стекла</a></p>
	<p><a href="#section5" class="section">Глава 5. Колёса и шины</a></p>
	<p><a href="#section6" class="section">Глава 6. Двигатель</a></p>
	<p><a href="#section7" class="section">Глава 7. Прочие элементы конструкции транспортного средства</a></p>
</div>

<div id="section1">
	<h2 style="margin-top: 20px">Глава 1. Тормозные системы</h2>
	<h5>1. Эффективность торможения или устойчивость транспортного средства при торможении рабочей тормозной системы не соответствует установленным требованиям.</h5>
	<h5>2. Нарушена герметичность гидравлического тормозного привода, имеется подтекание тормозной жидкости.</h5>
	<h5>3. Нарушена герметичность пневматического или пневмогидравлического тормозного привода, которая ведёт к падению давления воздуха при неработающем двигателе более чем на 0,05 МПа (0,5 кг/см2) за 15 минут после полного приведения указанного привода в действие.</h5>
	<h5>4. Не действует манометр пневматического или пневмогидравлического тормозного привода.</h5>
	<h5>
		5.
		Стояночная тормозная система не обеспечивает неподвижного состояния:
		Транспортных средств с полной нагрузкой на уклоне до 16 процентов включительно;
		Легковых автомобилей и автобусов в снаряжённом состоянии на уклоне до 23 процентов включительно;
		Грузовых автомобилей и автопоездов в снаряжённом состоянии на уклоне до 31 процента включительно.
	</h5>
	<h5>6. Рычаг (рукоятка) управления стояночной тормозной системой не удерживается запирающим устройством.</h5>
	<h5>
		7.
		Имеются:
		Детали с трещинами или остаточной деформацией;
		Не предусмотренный конструкцией контакт трубопровода тормозного привода с элементами транспортного средства.
	</h5>
</div>
<div id="section2">
	<h2 style="margin-top: 20px">Глава 2. Рулевое управление</h2>
	<h5>
		8.
		Суммарный люфт в рулевом управлении превышает следующие значения:<br />
		<ul>
			<li>Легковые автомобили и созданные на их базе грузовые автомобили и автобусы — 10 градусов;</li>
			<li>Автобусы — 20 градусов;</li>
			<li>Грузовые автомобили — 25 градусов.</li>
		</ul>
	</h5>
	<h5>
		9.
		Имеются перемещения деталей и узлов, не предусмотренные конструкцией, резьбовые соединения не затянуты или не зафиксированы установленным способом.
	</h5>
	<h5>10. Неисправен или отсутствует предусмотренный конструкцией усилитель рулевого управления или рулевой демпфер (для мотоциклов).</h5>
	<h5>11. Применены детали со следами остаточной деформации, с трещинами, другими дефектами.</h5>
	<h5>12. Вращение рулевого колеса происходит с рывками и (или) заеданиями.</h5>
</div>
<div id="section3">
	<h2 style="margin-top: 20px">Глава 3. Внешние световые приборы</h2>
	<h5>13. Количество, тип, цвет, расположение и режим работы внешних световых приборов не соответствуют требованиям конструкции транспортного средства. На транспортных средствах, снятых с производства, допускается установка внешних световых приборов от транспортных средств других марок и моделей. Запрещается подключать задние противотуманные фонари к стоп-сигналам.</h5>
	<h5>
		14.
		Нарушена предусмотренная обязательными для соблюдения техническими нормативными правовыми актами (технической документацией) регулировка фар.
	</h5>
	<h5>
		15.
		Не работают в установленном режиме или загрязнены внешние световые приборы и световозвращатели.
	</h5>
	<h5>
		16.
		На световых приборах отсутствуют рассеиватели либо используются рассеиватели и лампы, не соответствующие типу данного светового прибора.
	</h5>
	<h5>
		17.
		Установка проблесковых сигналов (маячков) не соответствует установленным требованиям.
	</h5>
	<h5>
		18.
		Спереди транспортного средства установлены световые приборы с огнями или световозвращателями красного цвета либо сзади — белого цвета (за исключением фонарей заднего хода и освещения регистрационного знака (временного номерного знака), световозвращающих регистрационного, временного номерного, отличительного и опознавательного знаков).
	</h5>
	<h5>
		19.
		Внутри оптических элементов находятся не предусмотренные конструкцией предметы (жидкости).
	</h5>
	<h5>20. Сигналы торможения или опознавательный знак «Автопоезд» работают в проблесковом режиме.</h5>
	<h5>
		21.
		Кроме двух противотуманных, установлены дополнительные фары, дополнительные фары установлены на крыше автомобиля.
	</h5>
</div>
<div id="section4">
	<h2 style="margin-top: 20px">Глава 4. Стеклоочистители и стеклоомыватели ветрового стекла</h2>
	<h5>
		22.
		Не работают в установленном режиме стеклоочистители. Частота перемещения щёток по мокрому стеклу в режиме максимальной скорости стеклоочистителей менее 35 двойных ходов в минуту.
	</h5>
	<h5>23. Не работают предусмотренные конструкцией транспортного средства стеклоомыватели.</h5>
	<h5>
		24.
		Ветровое стекло транспортного средства со стороны водителя имеет трещину (трещины) в зоне, очищаемой стеклоочистителем.
	</h5>
</div>
<div id="section5">
	<h2 style="margin-top: 20px">Глава 5. Колёса и шины</h2>
	<h5>
		25. Шины легковых автомобилей (за исключением квадрициклов), грузовых автомобилей и прицепов, имеющих технически допустимую общую массу не более 3,5 тонны, имеют остаточную глубину рисунка протектора менее 1,6 мм, грузовых автомобилей и прицепов, имеющих технически допустимую общую массу более 3,5 тонны, — 1 мм, автобусов, троллейбусов — 2 мм, мотоциклов, мопедов и квадрициклов — 0,8 мм.
		Зимние шины механических транспортных средств, предназначенные для эксплуатации на обледеневшем или заснеженном дорожном покрытии, маркированные знаком в виде горной вершины с тремя пиками и со снежинкой внутри неё либо знаками «М+S», «M&S», «M.S», «M S» или «Allseasons», во время эксплуатации на указанном покрытии имеют остаточную высоту рисунка протектора менее 4 мм.
		Шина считается непригодной к эксплуатации, если появился один индикатор износа, расположенный по дну канавки протектора, при равномерном износе или два индикатора в каждом из двух сечений — при неравномерном износе беговой дорожки.
	</h5>
	<h5>
		26.
		Шины имеют местные повреждения (пробои, порезы, разрывы), обнажающие корд, а также расслоение каркаса, отслоение протектора и боковины, растрескивания от старения резины.
	</h5>
	<h5>
		27.
		Отсутствует болт (гайка) крепления и (или) имеются трещины диска и ободов колёс.
	</h5>
	<h5>
		28.
		Шины по размеру или допустимой нагрузке не соответствуют модели транспортного средства.
	</h5>
	<h5>
		29. На одну ось автобуса, легкового автомобиля или прицепа к нему установлены диагональные шины совместно с радиальными или шины с различным рисунком протектора.
		На одну ось грузового автомобиля или прицепа к нему установлены диагональные шины совместно с радиальными или шины с различным типом рисунка протектора.
		Ошипованные шины установлены не на все оси транспортного средства.
		На транспортном средстве установлены ошипованные шины в летний период (июнь, июль, август).
	</h5>
</div>
<div id="section6">
	<h2 style="margin-top: 20px">Глава 6. Двигатель</h2>
	<h5>30. Содержание вредных веществ в отработавших газах и их дымность превышают установленные величины.</h5>
	<h5>
		31.
		Нарушена герметичность системы питания.
	</h5>
	<h5>
		32.
		Неисправна система выпуска отработавших газов.
	</h5>
	<h5>
		33.
		Негерметична газовая система питания на транспортном средстве с газовой топливной аппаратурой.
	</h5>
	<h5>
		34.
		Истёк срок периодического освидетельствования баллонов на газобаллонных транспортных средствах.
	</h5>
</div>
<div id="section7">
	<h2 style="margin-top: 20px">Глава 7. Прочие элементы конструкции транспортного средства</h2>
	<h5>
		35.
		Отсутствуют предусмотренные конструкцией транспортного средства системы, агрегаты, элементы кузова и отдельные детали.
	</h5>
	<h5>
		36.
		Не работает звуковой сигнал.
	</h5>
	<h5>
		37.
		На стёклах и (или) в оконных проёмах транспортного средства установлены не предусмотренные его конструкцией дополнительные предметы или нанесены покрытия, в том числе плёночные*.
		Допускаются установка и наличие:<br />
		В верхней части ветрового стекла светозащитной полосы, выполненной в массе стекла, либо крепление светозащитной полосы прозрачной цветной плёнкой шириной не более 140 мм, а на транспортных средствах, используемых для перевозки пассажиров, технически допустимая общая масса которых превышает 5 тонн, либо перевозки грузов, технически допустимая общая масса которых превышает 3,5 тонны, — шириной, не превышающей минимального расстояния между верхним краем ветрового стекла и верхней границей зоны его очистки стеклоочистителем;<br />
		Шторок на боковых (кроме передних) и задних окнах автобуса, предназначенного для перевозки сидящих пассажиров, жалюзи или шторок на заднем стекле легкового автомобиля при наличии у них с обеих сторон наружных зеркал заднего вида;<br />
		Плёночных покрытий на боковых и задних стёклах пассажирского транспорта, за исключением установленных в оконных проёмах, являющихся аварийным выходом, с информацией о порядке оплаты проезда, в том числе с изображением QR-кода, размер которого не превышает 10 процентов оконного проёма и не препятствует видимости пассажиров;<br />
		Средств регистрации и записи окружающей обстановки (видеорегистратор), не ограничивающих обзорность с места водителя.<br />

		______________________________<br />
		В верхней части ветрового стекла светозащитной полосы, выполненной в массе стекла, либо крепление светозащитной полосы прозрачной цветной плёнкой шириной не более 140 мм, а на транспортных средствах, используемых для перевозки пассажиров, технически допустимая общая масса которых превышает 5 тонн, либо перевозки грузов, технически допустимая общая масса которых превышает 3,5 тонны, — шириной, не превышающей минимального расстояния между верхним краем ветрового стекла и верхней границей зоны его очистки стеклоочистителем;<br />
		Шторок на боковых (кроме передних) и задних окнах автобуса, предназначенного для перевозки сидящих пассажиров, жалюзи или шторок на заднем стекле легкового автомобиля при наличии у них с обеих сторон наружных зеркал заднего вида;<br />
		Плёночных покрытий на боковых и задних стёклах пассажирского транспорта, за исключением установленных в оконных проёмах, являющихся аварийным выходом, с информацией о порядке оплаты проезда, в том числе с изображением QR-кода, размер которого не превышает 10 процентов оконного проёма и не препятствует видимости пассажиров;<br />
		Средств регистрации и записи окружающей обстановки (видеорегистратор), не ограничивающих обзорность с места водителя.<br />

		______________________________<br />
		* Данные требования не распространяются на транспортные средства, используемые для транспортного обслуживания, сопровождения и обеспечения безопасности должностных лиц, подлежащих государственной охране, защите, безопасности участников уголовного процесса и иных лиц в соответствии с законодательными актами.
	</h5>
	<h5>
		38.
		Не работают предусмотренные конструкцией транспортного средства:
		<ul>
			<li>Замки дверей кузова или кабины;</li>
			<li>Запоры бортов грузовой платформы;</li>
			<li>Запоры топливных баков;</li>
			<li>Запоры горловин цистерн.</li>
		</ul>
	</h5>
	<h5>39. Негерметичны пробки топливных баков, горловин цистерн.</h5>
	<h5>
		40.
		Не работают:
		<ul>
			<li>Механизм регулировки положения сиденья водителя;</li>
			<li>Аварийные выходы, устройства приведения их в действие;</li>
			<li>Привод управления дверями;</li>
			<li>Спидометр;</li>
			<li>Противоугонные устройства;</li>
			<li>Устройство обогрева и обдува стёкол.</li>
		</ul>
	</h5>
	<h5>
		41.
		Отсутствуют предусмотренные конструкцией транспортного средства заднее защитное устройство, грязезащитные фартуки и брызговики.
	</h5>
	<h5>42. Неисправны тягово-сцепное и опорно-сцепное устройства тягача и прицепного звена, а также отсутствуют или неисправны предусмотренные их конструкцией страховочные тросы (цепи). Имеются люфты в соединениях рамы мотоциклов с рамой бокового прицепа.</h5>
	<h5>
		43.
		Неисправен или не работает тахограф.
	</h5>
	<h5>
		44.
		Отсутствуют:
		В автобусе, троллейбусе, легковом и грузовом автомобилях, колёсном тракторе, самоходной машине — медицинская аптечка, огнетушитель, знак аварийной остановки, а в грузовом автомобиле с технически допустимой общей массой свыше 3,5 тонны и автобусе с технически допустимой общей массой свыше 5 тонн — также противооткатные упоры (не менее двух). Легковые автомобили оснащаются не менее чем одним огнетушителем ёмкостью не менее 1 литра, автобусы, грузовые автомобили — не менее чем одним огнетушителем ёмкостью не менее 2 литров. Огнетушитель размещается в легкодоступном месте. У автобусов огнетушитель размещается поблизости от рабочего места водителя. В двухэтажных транспортных средствах на верхнем этаже должен находиться дополнительный огнетушитель. Огнетушители должны быть опломбированы, и на них должен быть указан срок окончания использования, который на момент проверки не должен быть завершён;<br />

		На мотоцикле с боковым прицепом — медицинская аптечка, знак аварийной остановки.<br />

		Медицинская аптечка должна быть укомплектована препаратами (изделиями), пригодными для использования (с действующим сроком годности), согласно перечню, утверждённому Министерством здравоохранения.
	</h5>
	<h5>
		45.
		На транспортных средствах, не принадлежащих оперативным и специальным службам, используются проблесковые сигналы (маячки), звуковые сигналы с чередованием тонов и цветографические схемы, предусмотренные обязательными для соблюдения техническими нормативными правовыми актами для соответствующих транспортных средств.
	</h5>
	<h5>
		46.
		Отсутствуют ремни безопасности, если их установка предусмотрена конструкцией транспортного средства, ремни безопасности имеют видимые надрывы на лямке или неисправный рабочий механизм.
	</h5>
	<h5>
		47.
		Регистрационный знак транспортного средства не отвечает требованиям технических регламентов Таможенного союза и Евразийского экономического союза.
	</h5>
	<h5>
		47.1
		Временный номерной знак транспортного средства не отвечает требованиям нормативных правовых актов.
	</h5>
	<h5>
		48.
		На мотоцикле, мопеде:
		<ul>
			<li>Не работает или отсутствует предусмотренный изготовителем рулевой демпфер;</li>
			<li>Отсутствуют предусмотренные изготовителем подножки или рукоятки для пассажиров на седле;</li>
			<li>Отсутствуют предусмотренные изготовителем дуги безопасности или они находятся в состоянии, при котором невозможно их использование по назначению;</li>
			<li>Имеется люфт в соединениях рамы транспортного средства с рамой бокового прицепа к мотоциклу.</li>
		</ul>
	</h5>
	<h5>49. Исключён.</h5>
	<h5>50. Отсутствуют предусмотренные конструкцией транспортного средства или установлены без согласования с изготовителем либо иной уполномоченной организацией дополнительные элементы тормозных систем, рулевого управления, системы питания топливом, других узлов и агрегатов, требования к которым регламентируются настоящим приложением.</h5>
	<h5>
		51.
		Имеются значительные внешние повреждения деталей кузова (кабины), окраски транспортного средства и (или) его окраска не соответствует указанной в свидетельстве о регистрации транспортного средства.
	</h5>
	<h5>
		52.
		Опознавательный знак транспортного средства не отвечает требованиям Правил дорожного движения и требованиям технических регламентов Таможенного союза и Евразийского экономического союза.
	</h5>
</div>