﻿@{
	ViewData["Title"] = $"Опознавательные знаки";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Опознавательные знаки</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="6" style="margin-left: 0px; text-decoration: none">Тест</a>
</div>

<div>
	<h2 style="margin-top: 20px">Опознавательные знаки транспортных средств​</h2>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/1_2.png" class="image" />
		<img src="https://pddonline.by/media/uploads/images/2024/01/VZ6ev9ozdnA.png" class="image" />
		<h5 class="text">1 Автопоезд</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/2.png" class="image" />
		<h5 class="text">2 Знак аварийной остановки</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/3.png" class="image" />
		<h5 class="text">3 Шипы</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/4.png" class="image" />
		<h5 class="text">4 Учебное транспортное средство</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/5.png" class="image" />
		<h5 class="text">5 Ограничение скорости</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/6.png" class="image" />
		<h5 class="text">6 Перевозка детей</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/7.png" class="image" />
		<h5 class="text">7 Колонна</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/8.png" class="image" />
		<h5 class="text">8 Тихоходное транспортное средство</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/9.png" class="image" />
		<h5 class="text">9 Отличительный знак транспортного средства Республики Беларусь</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/10.png" class="image" />
		<h5 class="text">10 Крупногабаритный груз</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/11.png" class="image" />
		<h5 class="text">11 Опасный груз</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/12.png" class="image" />
		<h5 class="text">12 Знак опасности</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/13.png" class="image" />
		<h5 class="text">13 Инвалид по слуху</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/14.png" class="image" />
		<h5 class="text">14 Инвалид</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/15.png" class="image" />
		<h5 class="text">15 Врач</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/16.png" class="image" />
		<h5 class="text">16 Обозначение гибких связующих звеньев при буксировке механических транспортных средств</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/17.png" class="image" />
		<h5 class="text">17 Транспортное средство большой грузоподъёмности</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/52/18.png" class="image" />
		<h5 class="text">18 Транспортное средство большой длины</h5>
	</div>
</div>
