@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}

<div class="cube-container">
	<div class="img-home-page" style="margin-bottom: 10px; display: flex;">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="Privacy">
				<img src="https://polinka.top/uploads/posts/2023-05/1684226097_polinka-top-p-peshekhodnii-perekhod-kartinka-dlya-detei-5.jpg" style="max-width: 90%; margin-right: 60px; filter: brightness(0.5);" asp-area="" asp-controller="Home" asp-action="Index" />
				<div class="image-text">Правила дорожного движения</div>
			</a>
		</div>
		<div class="image-wrapper">
			<img src="https://blog.greenflag.com/wp-content/uploads/2018/11/Green-Flag-Nov-Road-sign-quiz-header.jpg" style="max-width: 90%; height:100%; margin-left: 60px; filter: brightness(0.5);" />
			<div class="image-text">Дорожные знаки</div>
		</div>
	</div>
	<div class="img-home-page" style="margin-top: 10px">
		<div class="image-wrapper">
			<img src="https://gas-kvas.com/uploads/posts/2023-01/1673953535_gas-kvas-com-p-risunok-na-meditsinskuyu-temu-v-podderzhku-30.jpg" style="max-width: 90%; margin-right: 60px; filter: brightness(0.5);" />
			<div class="image-text">Медецинская помощь</div>
		</div>
		<div class="image-wrapper">
			<img src="https://gas-kvas.com/grafic/uploads/posts/2023-09/1695934675_gas-kvas-com-p-kartinki-makvina-tachki-55.jpg" style="max-width: 90%; height:100%; margin-left: 60px; filter: brightness(0.5);" />
			<div class="image-text">Устройство авто</div>
		</div>
	</div>
</div>
