@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}

<div class="cube-container">
	<div class="img-home-page" style="margin-bottom: 20px; display: flex;">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="TrafficRegulations">
				<img src="https://polinka.top/uploads/posts/2023-05/1684226097_polinka-top-p-peshekhodnii-perekhod-kartinka-dlya-detei-5.jpg" style="max-width: 90%; margin-right: 10px; filter: brightness(0.5);" asp-area="" asp-controller="Home" asp-action="Index" />
				<div class="image-text">Правила дорожного движения</div>
			</a>
		</div>
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="TrafficLight">
				<img src="https://camper4x4.ru/wp-content/uploads/2019/10/0-12.jpg" style="max-width: 90%; height: 100%; margin-left: 10px; filter: brightness(0.5);" asp-area="" asp-controller="Home" asp-action="Index" />
				<div class="image-text">Дорожные светофоры</div>
			</a>
		</div>
	</div>

	<div class="img-home-page" style="margin-bottom: 20px;">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="RoadSigns">
				<img src="https://blog.greenflag.com/wp-content/uploads/2018/11/Green-Flag-Nov-Road-sign-quiz-header.jpg" style="max-width: 90%; height:100%; margin-right: 10px; filter: brightness(0.5);" />
				<div class="image-text">Дорожные знаки</div>
			</a>
		</div>

		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="RoadMarkings">
				<img src="https://grodnonews.by/upload/iblock/e54/e54c5719f0d9d21f9dfd41d3cbc878af.jpg" style="max-width: 90%; margin-left: 10px; filter: brightness(0.5);" />
				<div class="image-text">Дорожная разметка</div>
			</a>
		</div>
	</div>

	<div class="img-home-page" style="margin-bottom: 20px">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="CarDevice">
				<img src="https://gas-kvas.com/grafic/uploads/posts/2023-09/1695934675_gas-kvas-com-p-kartinki-makvina-tachki-55.jpg" style="max-width: 90%; height:100%; margin-right: 10px; filter: brightness(0.5);" />
				<div class="image-text">Неисправности</div>
			</a>
		</div>
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="IdentificationMarks">
				<img src="https://automobile-zip.ru/wp-content/uploads/0/1/1/0111fe760e226fe2eee66f0fa0b19386.jpeg" style="max-width: 90%; height: 100%; margin-left: 10px; filter: brightness(0.5);" />
				<div class="image-text">Опознавательные знаки</div>
			</a>
		</div>
	</div>

	<div class="image-wrapper">
		<a asp-area="" asp-controller="Home" asp-action="MedicalCare">
			<img src="https://gas-kvas.com/uploads/posts/2023-01/1673953535_gas-kvas-com-p-risunok-na-meditsinskuyu-temu-v-podderzhku-30.jpg" style="max-width: 50%; margin-right: 10px; filter: brightness(0.5);" />
			<div class="image-text">Медецинская помощь</div>
		</a>
	</div>
</div>
