@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}

<div class="cube-container">
	<div class="img-home-page" style="margin-bottom: 20px; display: flex;">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="TrafficRegulations">
				<img src="/Images/PDD.png" style="max-width: 90%; margin-right: 10px; filter: brightness(0.5);" asp-area="" asp-controller="Home" asp-action="Index" />
				<div class="image-text">Правила дорожного движения</div>
			</a>
		</div>
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="TrafficLight">
				<img src="/Images/TrafficLights.jpg" style="max-width: 90%; height: 100%; margin-left: 10px; filter: brightness(0.5);" asp-area="" asp-controller="Home" asp-action="Index" />
				<div class="image-text">Дорожные светофоры</div>
			</a>
		</div>
	</div>

	<div class="img-home-page" style="margin-bottom: 20px;">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="RoadSigns">
				<img src="/Images/RoadSign.jpg" style="max-width: 90%; height:100%; margin-right: 10px; filter: brightness(0.5);" />
				<div class="image-text">Дорожные знаки</div>
			</a>
		</div>

		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="RoadMarkings">
				<img src="/Images/RoadMarkings.jpg" style="max-width: 90%; margin-left: 10px; filter: brightness(0.5);" />
				<div class="image-text">Дорожная разметка</div>
			</a>
		</div>
	</div>

	<div class="img-home-page" style="margin-bottom: 20px">
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="CarDevice">
				<img src="/Images/CarDevice.png" style="max-width: 90%; height:100%; margin-right: 10px;" />
				<div class="image-text">Неисправности</div>
			</a>
		</div>
		<div class="image-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="IdentificationMarks">
				<img src="/Images/IdentificationMarks.jpeg" style="max-width: 90%; height: 100%; margin-left: 10px; filter: brightness(0.5);" />
				<div class="image-text">Опознавательные знаки</div>
			</a>
		</div>
	</div>

	<div class="image-wrapper">
		<a asp-area="" asp-controller="Home" asp-action="MedicalCare">
			<img src="/Images/MedicalCare.jpg" style="max-width: 50%; margin-right: 10px; filter: brightness(0.5);" />
			<div class="image-text">Медецинская помощь</div>
		</a>
	</div>
</div>
