@{
    ViewData["Title"] = "Медецинская помощь";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Медецинская помощь</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="7" style="margin-left: 0px; margin-bottom: 15px; text-decoration: none; font-size: 18px;">Тест</a>
</div>

<h2>Оглавление</h2>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Наружные кровотечения​</a></p>
	<p><a href="#section2" class="section">Глава 2. Обморок, травматический шок, клиническая смерть, сотрясение головного мозга</a></p>
	<p><a href="#section3" class="section">Глава 3. Первая помощь пострадавшим при ДТП</a></p>
	<p><a href="#section4" class="section">Глава 4. Термические и химические ожоги</a></p>
	<p><a href="#section5" class="section">Глава 5. Вывихи и ушибы</a></p>
	<p><a href="#section6" class="section">Глава 6. Раны и переломы</a></p>
	<p><a href="#section7" class="section">Глава 7. Отравление бензином или выхлопными газами</a></p>
	<p><a href="#section8" class="section">Глава 8. Травма живота</a></p>
	<p><a href="#section9" class="section">Глава 9. Повязки</a></p>
	<p><a href="#section10" class="section">Глава 10. Транспортировка пострадавших</a></p>
	<p><a href="#section11" class="section">Глава 11. Обморожение</a></p>
</div>

<div id="section1">
	<h2 style="margin-top: 20px">Глава 1. Наружные кровотечения​</h2>
	<h5>
		1.1. Признаками артериального кровотечения является кровь ярко-красного цвета, которая выбрасывается сильной пульсирующей струей.<br />
		
		1.2. Признаками венозного кровотечения является кровь тёмно-вишневого цвета, которая вытекает медленно, равномерной непрерывной струей.<br />
​
		1.3. Признаками капиллярного кровотечения является кровь, которая скапливается по всей поверхности раны, а затем стекает с нее.<br />
	​	
		1.4. Способы остановки кровотечения: пальцевое надавливание на сосуды, максимальное сгибание конечности, наложение давящей повязки, наложение кровоостанавливающего жгута.<br />
	​	
		1.5. Для оказания первой медицинской помощи пострадавшему при артериальном кровотечении необходимо наложить жгут выше места повреждения на 10–15 см на подкладочный материал.<br />
	​	
		1.6. Для оказания первой медицинской помощи пострадавшему при венозном кровотечении необходимо наложить на рану давящую повязку.<br />
	​	
		1.7. Чтобы остановить капиллярное кровотечение, необходимо наложить на рану давящую повязку.<br />
	​	
		1.8. Кровоостанавливающий жгут накладывается на повреждённую конечность на 10–15 см выше места повреждения на подкладочный материал.<br />
	​	
		1.9. К жгуту прикрепляется записка, в которой указывается время наложения жгута.<br />
	​	
		1.10. Затяжку жгута с целью остановки кровотечения следует прекратить в момент прекращения кровотечения.<br />
	​	
		1.11. Кровоостанавливающий жгут наложен правильно, если кровотечение прекращается, конечность бледнеет, пульс не прощупывается, теряется чувствительность конечности.<br />
	​	
		1.12. Кровоостанавливающий жгут может быть наложен на срок не более 1 часа.<br />
	​	
		1.13. При артериальном кровотечении в области коленного сустава для временной остановки кровотечения необходимо придавить пальцем повреждённую артерию — в паховой области.<br />
	​	
		1.14. Чтобы остановить кровотечение при разрыве или ранении сонной артерии, необходимо провести пальцем надавливание — ниже раны.<br />
	​	
		1.15. Для остановки кровотечения из раны в подмышечной области необходимо на рану положить давящую повязку и руку, согнутую в локте, прибинтовать к туловищу.<br />
	​	
		1.16. Жгут на туловище не накладывается, на туловище накладывается давящая повязка.<br />
	​	
		1.17. Оказание первой медицинской помощи при дорожно-транспортном происшествии начинается с остановки наружного кровотечения.<br />
	​	
		1.18. Смертельная для жизни пострадавшего кровопотеря: острое кровотечение в течение 7–10 минут в количестве около 1,5 литров крови.<br />
	</h5>

</div>
<div id="section2">
	<h2 style="margin-top: 20px">Глава 2. Обморок, травматический шок, клиническая смерть, сотрясение головного мозга</h2>
	<h5>
		2.1. Первая медицинская помощь при обмороке: пострадавшего уложить, приподняв ноги, обеспечить приток свежего воздуха, дать понюхать нашатырный спирт, побрызгать в лицо холодной водой.<br />
​
		2.2. Причинами травматического шока являются: тяжёлые травмы, значительная кровопотеря, обширные ожоги, черепно-мозговая травма.<br />
	​	
		2.3. Первая медицинская помощь с целью профилактики возникновения травматического шока: как можно скорее устранить причину, которая может вызвать травматический шок, пострадавшего уложить, согреть, напоить горячим напитком.<br />
	​	
		2.4. Первая помощь при черепно-мозговой травме заключается в правильной транспортировке лёжа на боку.<br />
	​	
		2.5. Признаками клинической смерти являются: потеря сознания, отсутствие пульса, остановка дыхания.<br />
	​	
		2.6. Характерные симптомы при сотрясении головного мозга: головная боль, тошнота, слабость, потеря сознания.<br />
	</h5>
</div>
<div id="section3">
	<h2 style="margin-top: 20px">Глава 3. Первая помощь пострадавшим при ДТП</h2>
	<h5>
		3.1. Последовательность действий при оказании первой медицинской помощи пострадавшему, если у него имеется наружное кровотечение, угрожающее жизни, нарушено дыхание, имеются переломы конечностей и раны:
		<ul> 
			<li>Остановить наружное кровотечение;</li>
			<li>Устранить причины нарушения дыхания;</li>
			<li>Наложить на раны повязки;</li>
			<li>Наложить шины.</li>
		</ul>
​
		3.2. Последовательность действий при оказании первой медицинской помощи пострадавшему при отсутствии у пострадавшего дыхания и остановке сердца: освободить дыхательные пути, провести непрямой массаж сердца и искусственное дыхание.<br />
		​
		3.3. Непрямой массаж сердца проводится на границе средней и нижней трети грудины.<br />
		​
		3.4. При остановке сердца у пострадавшего необходимо: провести закрытый массаж сердца одновременно с искусственным дыханием.<br />
		​
		3.5. Как выполнить непрямой массаж сердца и искусственное дыхание: 30 раз надавливать на грудную клетку на границе средней и нижней части грудины, затем 2 раза вдувать воздух и т.д.<br />
		​
		3.6. При отсутствии дыхания у пострадавшего необходимо провести искусственное дыхание.<br />
		​
		3.7. При проведении искусственного дыхания частота вдыхания воздуха составляет 12–16 раз в одну минуту.<br />
	</h5>
</div>
<div id="section4">
	<h2 style="margin-top: 20px">Глава 4. Термические и химические ожоги</h2>
	<h5>
		4.1. При термическом ожоге необходимо наложить сухую стерильную бинтовую повязку.<br />
		​
		4.2. Если после ДТП произошло возгорание автомобиля и на пострадавшем горит одежда, то нужно обернуть пострадавшего одеялом или покрывалом, затем облить водой.<br />
		​
		4.3. Если у пострадавшего сгоревшая одежда пристала к ожоговой поверхности тела, необходимо, не удаляя остатков одежды, наложить сухую стерильную повязку на обожженную поверхность.<br />
		​
		4.4. При химическом ожоге необходимо обильно промыть холодной водой обожжённые участки тела и наложить сухую стерильную повязку.<br />
		​
		4.5. При попадании электролита из аккумуляторной батареи в глаза необходимо обильно промыть глаза водой.<br />
		​
		4.6. При попадании серной кислоты на участок кожного покрова необходимо промыть участок обильным количеством воды и наложить сухую стерильную повязку.<br />
</div>
<div id="section5">
	<h2 style="margin-top: 20px">Глава 5. Вывихи и ушибы</h2>
	<h5>
		5.1. Симптомами вывиха являются: боль в конечности, деформация в области сустава, отсутствие движения в суставе.<br />
		​
		5.2. При оказании первой медицинской помощи нельзя вправлять вывих пострадавшему, необходимо обеспечить неподвижность сустава.<br />
		​
		5.3. При вывихе конечности необходимо наложить шину, как и при переломах.<br />
		​
		5.4. При вывихе плечевого сустава необходимо обеспечить полную неподвижность сустава.<br />
		​
		5.5. При ушибе необходимо наложить холодный компресс и обеспечить ушибленному органу покой.<br />
		​
		5.6. При ушибах конечностей необходимо наложить фиксирующую повязку на ушибленный сустав, приложить холод.<br />
		​
		5.7. При ушибе мягких тканей бедра необходимо зафиксировать место ушиба тугой повязкой, область ушиба охладить в течение 10–15 минут, а конечности придать возвышенное положение.<br />
		​
		5.8. При ушибе живота необходимо обеспечить пострадавшему полный покой, а область ушиба охладить (лёд, примочки с холодной водой, охлаждающий гипотермический пакет).<br />
		​
		5.9. При повреждении связок необходимо наложить повязку, фиксирующую сустав, затем прикладывать к месту повреждения холодный компресс.<br />
	</h5>
</div>
<div id="section6">
	<h2 style="margin-top: 20px">Глава 6. Раны и переломы</h2>
	<h5>
		6.1. Переломы бывают: открытые и закрытые.<br />
		​
		6.2. Признаки открытого перелома кости: нарушение целостности кожных покровов, выступающие обломки кости.<br />
		​
		6.3. Правильно обработать рану следующим образом: обработать кожу вокруг раны настойкой йода, накрыть рану стерильной марлей и наложить бинтовую повязку.<br />
		​
		6.4. Первая медицинская помощь при загрязнении открытой раны землей: промыть рану водой, обработать края раны йодом, наложить стерильную повязку.<br />
		​
		6.5. При обнаружении в ране мелких инородных предметов нельзя собирать их с поверхности раны.<br />
		​
		6.6. Входящий в комплект медицинской аптечки, которой оснащены автотранспортные средства, 5 процентный раствор йода (настойка йода) применяется для обработки кожи вокруг раны.<br />
		​
		6.7. При повреждении кожных покровов и мышечных тканей необходимо обработать кожу вокруг раны настойкой йода, накрыть рану стерильным материалом и наложить повязку.<br />
		​
		6.8. Грудную клетку при обширном её ранении следует начинать бинтовать от нижних отделов.<br />
		​
		6.9. При ранении руки правильно снять с пострадавшего рубашку (пиджак) следующим образом: одежду начинать снимать со здоровой руки, затем освобождать повреждённую руку.<br />
		​
		6.10. При открытом переломе конечности необходимо: остановить кровотечение, наложить повязку на рану и зафиксировать конечность с помощью шин.<br />
		​
		6.11. В качестве иммобилизирующих, или транспортных, шин можно использовать дощечки, палки, пучки прутьев.<br />
		​
		6.12. При открытом переломе конечности и сильном кровотечении необходимо: наложить жгут, повязку на рану, зафиксировать конечность с помощью шин.<br />
		​
		6.13. При закрытом переломе конечности необходимо: зафиксировать конечность при помощи шин или заменяющих их предметов.<br />
		​
		6.14. При переломе ключицы необходимо подложить валик из ваты или бинта в подмышечную область и прибинтовать согнутую в локте руку к туловищу.<br />
		​
		6.15. Чтобы зафиксировать шинами место перелома, необходимо фиксировать два сустава — выше и ниже места перелома.<br />
		​
		6.16. При переломе нижней трети бедра накладываются 2 шины следующим образом: наружная — от подмышечной области к стопе, внутренняя — от паховой области к стопе.<br />
		​
		6.17. При переломе костей голени накладываются 2 шины следующим образом: наружную и внутреннюю шины — от середины бедра к стопе.<br />
		​
		6.18. При переломе костей таза необходимо: уложить пострадавшего на ровную, жёсткую поверхность, а под согнутые и разведённые коленные суставы подложить валик.<br />
	</h5>
</div>
<div id="section7">
	<h2 style="margin-top: 20px">Глава 7. Отравление бензином или выхлопными газами</h2>
	<h5>
		7.1. Наиболее ядовит этилированный бензин.<br />
​
		7.2. Бензин, попавший на кожу, всасывается через поры кожи в кровь, вызывая отравление.<br />
		​
		7.3. При засасывании бензина ртом через трубку или шланг с целью перелива может возникнуть острое отравление парами бензина или его жидкой фракцией.<br />
		​
		7.4. Признаки отравления бензином следующие: общая слабость, повышенное слюноотделение, замедление пульса, понижение температуры тела.<br />
		​
		7.5. Признаки отравления угарным газом следующие: мышечная слабость, сонливость, головокружение, тошнота, рвота.<br />
		​
		7.6. При отравлении угарным газом необходимо вынести пострадавшего на чистый воздух, растереть тело, дать понюхать нашатырный спирт.<br />

	</h5>
</div>
<div id="section8">
	<h2 style="margin-top: 20px">Глава 8. Травма живота</h2>
	<h5>
		8.1. При закрытой травме или ушибе живота необходимо обеспечить пострадавшему полный покой, а область ушиба охладить гипотермическим пакетом или пакетом со снегом или льдом.<br />
		​
		8.2. Пострадавшему с травмой живота давать пить категорически запрещается.<br />
	</h5>
</div>
<div id="section9">
	<h2 style="margin-top: 20px">Глава 9. Повязки</h2>
	<h5>​
		9.1. Пращевидная повязка накладывается при челюстно-лицевой травме.<br />
		​
		9.2. Герметизирующую повязку необходимо накладывать при проникающем ранении грудной клетки.<br />
		​
		9.3. С помощью косыночной повязки можно зафиксировать повреждённую верхнюю конечность согнутой к туловищу.<br />
		​
		9.4. При повреждении голеностопного сустава применяется восьмиобразная повязка.<br />
	</h5>
</div>
<div id="section10">
	<h2 style="margin-top: 20px">Глава 10. Транспортировка пострадавших</h2>
	<h5>​
		10.1. Пострадавших с переломом ключицы необходимо транспортировать сидя.<br />
		​
		10.2. Транспортировка пострадавших при переломе ключицы, переломе рёбер должна осуществляться сидя.<br />
		​
		10.3. Пострадавших с проникающим ранением грудной клетки необходимо транспортировать, лёжа на раненом боку или полусидя.<br />
		​
		10.4. Транспортировка пострадавших с закрытой травмой живота, с повреждёнными органами брюшной полости или переломами костей таза должна осуществляться в положении лёжа на спине с согнутыми и разведенными в коленных суставах ногами.<br />
		​
		10.5. Транспортировка пострадавших с повреждением позвоночника должна осуществляться лёжа на спине на жёстком щите.<br />
		​
		10.6. Пострадавшего с переломом челюсти необходимо транспортировать сидя.<br />
		​
		10.7. Пострадавшего в бессознательном состоянии при переломе челюсти необходимо транспортировать лёжа на боку во избежание механического удушья.<br />
		​
		10.8. Транспортировку пострадавшего с черепно-мозговой травмой необходимо осуществлять лёжа на боку (во избежание механического удушья рвотными массами).<br />
	</h5>
</div>
<div id="section11">
	<h2 style="margin-top: 20px">Глава 11. Обморожение</h2>
	<h5>​​
		11.1. При обморожении конечностей необходимо перенести пострадавшего в тёплое помещение, снять верхнюю и влажную одежду, укутать одеялом, дать горячее питьё, на поражённый участок наложить термоизолирующую повязку и (или) стерильную сухую повязку.<br />
		​
		11.2. Растирать обмороженные участки не рекомендуется.<br />
	</h5>
</div>