@{
    ViewData["Title"] = "Медецинская помощь";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
}

<h1 id="title">Медецинская помощь</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="7" style="margin-left: 0px; margin-bottom: 15px; text-decoration: none; font-size: 18px;">Тест</a>
</div>