﻿@{
	ViewData["Title"] = $"Дорожная разметка";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Дорожная разметка</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="4" style="margin-left: 0px; margin-bottom: 15px; text-decoration: none; font-size: 18px;">Тест</a>
</div>

<h2>Оглавление</h2>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Общие положения​</a></p>
	<p><a href="#section2" class="section">Глава 2. Горизонтальная дорожная разметка​</a></p>
	<p><a href="#section3" class="section">Глава 3. Вертикальная дорожная разметка​</a></p>
</div>

<div id="section1">
	<h2 style="margin-top: 20px">Глава 1. Общие положения​</h2>
	<h5>1. Дорожная разметка применяется в соответствии с настоящим приложением и требованиями технических регламентов Таможенного союза и Евразийского экономического союза.</h5>
	<h5>
		2.
		Дорожная разметка подразделяется на горизонтальную (линии, стрелы, надписи и другие обозначения на проезжей части дороги) и вертикальную (чёрные, белые, красные полосы на дорожных сооружениях и элементах оборудования дорог).<br /><br />
		Горизонтальная дорожная разметка устанавливает определённые режимы и порядок дорожного движения, а вертикальная — обозначает элементы дорожных сооружений, оборудования дорог и служит средством зрительного ориентирования на дорогах.
	</h5>
</div>

<div id="section2">
	<h2 style="margin-top: 20px">Глава 2. Горизонтальная дорожная разметка</h2>
	<h5>
		3.
		Горизонтальная дорожная разметка (если не определено иное, далее — разметка) подразделяется на постоянную и временную.<br /><br />
		Постоянная разметка имеет белый цвет, кроме линий разметки 1.4, 1.10, 1.17.1, 1.17.2, 1.26, 1.37, имеющих жёлтый цвет. Разметка 1.14.2 имеет элементы жёлтого цвета.<br /><br />
		Временная разметка имеет жёлтый цвет и используется в местах производства ремонтных и других работ на дороге, в случаях оперативного изменения в организации дорожного движения, связанного с обеспечением его безопасности или проведением специальных мероприятий.<br /><br />
		Если временная разметка противоречит постоянной, участники дорожного движения должны руководствоваться временной разметкой.
	</h5>
	<h5>
		4.
		Линии разметки 1.1–1.3, 1.16.1–1.16.3 пересекать запрещается, за исключением случаев применения линии разметки 1.1 для обозначения границ мест стоянки транспортных средств и линии разметки 1.2, располагающейся справа от водителя, для остановки транспортного средства на обочине (слева от водителя, для выезда транспортного средства с обочины после его остановки), а также в случаях разделения пешеходных и велосипедных потоков на тротуарах и в других местах, разделения велосипедных потоков на велосипедной дорожке с двусторонним движением велосипедов.<br /><br />
		Линию разметки 1.1 разрешается пересекать также для обгона одиночного транспортного средства, движущегося со скоростью менее 30 км/ч, и для объезда неподвижного препятствия на дороге, создающего опасность для движения.
	</h5>
	<h5>
		5.
		Линии разметки 1.5, 1.6, 1.8 разрешается пересекать с любой стороны. Линию разметки 1.7 разрешается пересекать с любой стороны на перекрёстках с круговым движением, на иных перекрёстках — запрещается пересекать для перестроения из одной полосы движения в другую.
	</h5>
	<h5>
		6.
		Линию разметки 1.9 на участке дороги между реверсивными светофорами разрешается пересекать, если она расположена справа от водителя. При включённых зелёных сигналах реверсивных светофоров линию разметки 1.9 разрешается пересекать с любой стороны, если она разделяет полосы, по которым движение разрешено в одном направлении. При отключении реверсивных светофоров водитель должен немедленно перестроиться вправо за линию разметки 1.9. При выключенных реверсивных светофорах или запрещающем сигнале на них линию разметки 1.9, находящуюся слева, пересекать запрещается.
	</h5>
	<h5>
		7.
		Линию разметки 1.11 разрешается пересекать только со стороны прерывистой линии, а со стороны сплошной — только при завершении обгона или объезда препятствия.
	</h5>
	<h5>
		8.
		В случаях, когда значения линий разметки и дорожных знаков противоречат друг другу, участники дорожного движения должны руководствоваться дорожными знаками.
	</h5>
	<h5>
		9. Устанавливаются следующие виды и назначения разметки:<br /><br />
		Применение линий разметок 1.24.1–1.24.3, 1.27–1.34 не является обязательным, решение об их нанесении принимается владельцами дорог по согласованию с ГАИ.
	</h5>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_1.png" class="image" />
		<h5 class="text">1.1</h5>
		<h5 class="text">
			Описание:
			Разделение транспортных потоков противоположных направлений.
			Обозначение границ полос движения на опасных участках дороги.
			Обозначение границ проезжей части дороги, на которые въезд запрещён, границ велосипедной дорожки.
			Обозначение границ мест стоянки транспортных средств на площадках, специально отведенных для стоянки.
			Обозначение островков безопасности (в случаях, опредёленных в установленном порядке Министром внутренних дел).
			Разделение пешеходных и велосипедных потоков на тротуарах и в других местах, а также разделение велосипедных потоков на велосипедной дорожке с двусторонним движением велосипедов
		</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_2.png" class="image" />
		<h5 class="text">1.2</h5>
		<h5 class="text">Описание: Обозначение края проезжей части дороги</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_3.png" class="image" />
		<h5 class="text">1.3</h5>
		<h5 class="text">Описание: Разделение транспортных потоков противоположных направлений на дорогах без разделительной полосы, имеющих три и более полосы движения</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_4.png" class="image" />
		<h5 class="text">1.4</h5>
		<h5 class="text">Описание: Обозначение мест, где запрещены остановка и стоянка транспортных средств, кроме маршрутных транспортных средств (наносится у края проезжей части дороги или по верху бордюра)</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_5.png" class="image" />
		<h5 class="text">1.5</h5>
		<h5 class="text">
			Описание: Разделение транспортных потоков противоположных направлений на дорогах, имеющих две полосы движения.
			Обозначение границ полос движения при наличии двух и более полос, предназначенных для движения в одном направлении
		</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_6.png" class="image" />
		<h5 class="text">1.6</h5>
		<h5 class="text">Описание: Обозначение приближения к сплошной линии продольной разметки</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_7.png" class="image" />
		<h5 class="text">1.7</h5>
		<h5 class="text">Описание: Обозначение полос движения и велосипедных дорожек в пределах перекрёстка</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_8.png" class="image" />
		<h5 class="text">1.8</h5>
		<h5 class="text">Описание: Обозначение границы между полосой разгона или торможения и основной полосой проезжей части дороги (на перекрёстках, пересечениях дорог в разных уровнях, в зоне остановочных пунктов маршрутных транспортных средств, на прочих объектах)</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_9.png" class="image" />
		<h5 class="text">1.9</h5>
		<h5 class="text">Описание: Обозначение границ полос движения, на которых осуществляется реверсивное регулирование</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_10.png" class="image" />
		<h5 class="text">1.10</h5>
		<h5 class="text">Описание: Обозначение мест, где запрещена стоянка транспортных средств (наносится у края проезжей части дороги или по верху бордюра)</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_11.png" class="image" />
		<h5 class="text">1.11</h5>
		<h5 class="text">
			Описание: Разделение транспортных потоков противоположных или попутных направлений на участках дорог, на которых перестроение разрешено только со стороны прерывистой линии.
			Обозначение мест, предназначенных для разворота, въезда или выезда со стояночных площадок, автозаправочных станций и прочих объектов
		</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_12.png" class="image" />
		<h5 class="text">1.12</h5>
		<h5 class="text">Описание: Обозначение места остановки транспортных средств — «стоп-линия»</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_13.png" class="image" />
		<h5 class="text">1.13</h5>
		<h5 class="text">Описание: Обозначение места, где водитель обязан уступить дорогу транспортным средствам, движущимся по пересекаемой дороге, иным участникам дорожного движения, путь движения которых он пересекает. В местах пересечения с велосипедной дорожкой и на велосипедной дорожке может применяться без установки соответствующих дорожных знаков</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_14_1.png" class="image" />
		<h5 class="text">1.14.1</h5>
		<h5 class="text">Описание: Обозначение регулируемого и нерегулируемого пешеходного перехода — «зебра», а также мест пересечения пешеходами велосипедной дорожки</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_14_2.png" class="image" />
		<h5 class="text">1.14.2</h5>
		<h5 class="text">Описание: Обозначение регулируемого и нерегулируемого пешеходного перехода, а также мест пересечения пешеходами велосипедной дорожки в местах повышенной опасности</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_14_3.png" class="image" />
		<h5 class="text">1.14.3</h5>
		<h5 class="text">Описание: Обозначение пешеходного перехода, оборудованного дорожными светофорами</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_15.png" class="image" />
		<h5 class="text">1.15</h5>
		<h5 class="text">Описание: Обозначение велосипедного переезда (может иметь жёлтый цвет). Зона велосипедного переезда может обозначаться зелёным цветом</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_16_1.png" class="image" />
		<h5 class="text">1.16.1</h5>
		<h5 class="text">Описание: Обозначение островков, разделяющих транспортные потоки противоположных направлений</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_16_2.png" class="image" />
		<h5 class="text">1.16.2</h5>
		<h5 class="text">Описание: Обозначение островков, разделяющих транспортные потоки одного направления</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_16_3.png" class="image" />
		<h5 class="text">1.16.3</h5>
		<h5 class="text">Описание: Обозначение островков в местах слияния транспортных потоков</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_17_1.png" class="image" />
		<h5 class="text">1.17.1</h5>
		<h5 class="text">Описание: Обозначение остановочных пунктов маршрутных транспортных средств и стоянок такси</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_17_2.png" class="image" />
		<h5 class="text">1.17.2</h5>
		<h5 class="text">Описание: Обозначение границ зоны остановочного пункта трамвая, расположенного на одном уровне с проезжей частью дороги</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_1.png" class="image" />
		<h5 class="text">1.18.1</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_2.png" class="image" />
		<h5 class="text">1.18.2</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_3.png" class="image" />
		<h5 class="text">1.18.3</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_4.png" class="image" />
		<h5 class="text">1.18.4</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_5.png" class="image" />
		<h5 class="text">1.18.5</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_6.png" class="image" />
		<h5 class="text">1.18.6</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_7.png" class="image" />
		<h5 class="text">1.18.7</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_8.png" class="image" />
		<h5 class="text">1.18.8</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_9.png" class="image" />
		<h5 class="text">1.18.9</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_10.png" class="image" />
		<h5 class="text">1.18.10</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_11.png" class="image" />
		<h5 class="text">1.18.11</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_18_12.png" class="image" />
		<h5 class="text">1.18.12</h5>
		<h5 class="text">Описание: Обозначение направлений движения по полосам:1.18.1 — только прямо;1.18.2 — только направо;1.18.3 — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.4 — прямо и направо;1.18.5 — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.6 — направо и налево, а также на разворот из крайней левой полосы в данном направлении;1.18.7 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — прямо и направо;1.18.8 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — прямо и налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.9 — на ближайшую проезжую часть дороги поворот направо запрещён, на следующем пересечении — направо;1.18.10 — на ближайшую проезжую часть дороги поворот налево запрещён, на следующем пересечении — налево, а также на разворот в случае нанесения разметки в крайней левой полосе движения в данном направлении;1.18.11 — на разворот;1.18.12 — прямо и на разворот</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_19_1.png" class="image" />
		<h5 class="text">1.19.1</h5>
		<h5 class="text">Описание: Обозначения приближения:1.19.1 — к участку дороги, на котором заканчивается данная полоса проезжей части (с необходимостью перестроиться на соседнюю полосу справа), или к разметке 1.1 или 1.11, разделяющей транспортные потоки противоположных направлений;1.19.2 — к участку дороги, на котором заканчивается данная полоса проезжей части (с необходимостью перестроиться на соседнюю полосу слева)</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_19_2.png" class="image" />
		<h5 class="text">1.19.2</h5>
		<h5 class="text">Описание: Обозначения приближения:1.19.1 — к участку дороги, на котором заканчивается данная полоса проезжей части (с необходимостью перестроиться на соседнюю полосу справа), или к разметке 1.1 или 1.11, разделяющей транспортные потоки противоположных направлений;1.19.2 — к участку дороги, на котором заканчивается данная полоса проезжей части (с необходимостью перестроиться на соседнюю полосу слева)</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_20.png" class="image" />
		<h5 class="text">1.20</h5>
		<h5 class="text">Описание: Обозначение приближения к разметке 1.13</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_21.png" class="image" />
		<h5 class="text">1.21</h5>
		<h5 class="text">Описание: Обозначение приближения к разметке 1.12</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_22.png" class="image" />
		<h5 class="text">1.22</h5>
		<h5 class="text">Описание: Обозначение номера дороги</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_23.png" class="image" />
		<h5 class="text">1.23</h5>
		<h5 class="text">Описание: Обозначение полосы, выделенной для движения маршрутных транспортных средств</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_24_1.png" class="image" />
		<h5 class="text">1.24.1</h5>
		<h5 class="text">Описание: Изображение на проезжей части дороги дорожного знака 1.20</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_24_2.png" class="image" />
		<h5 class="text">1.24.2</h5>
		<h5 class="text">Описание: Изображение на проезжей части дороги дорожного знака 1.21</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_24_3.png" class="image" />
		<h5 class="text">1.24.3</h5>
		<h5 class="text">Описание: Изображение на проезжей части дороги дорожного знака 1.29</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_25.png" class="image" />
		<h5 class="text">1.25</h5>
		<h5 class="text">Описание: Обозначение приближения к искусственной неровности</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_26.png" class="image" />
		<h5 class="text">1.26</h5>
		<h5 class="text">Описание: Обозначение искусственной неровности</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_27.png" class="image" />
		<h5 class="text">1.27</h5>
		<h5 class="text">Описание: Изображение на проезжей части дороги дорожного знака 3.24.1</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_28.png" class="image" />
		<h5 class="text">1.28</h5>
		<h5 class="text">Описание: Изображение на проезжей части дороги дорожного знака 7.17. Может применяться без установки соответствующего дорожного знака, при этом устанавливает аналогичные ему требования. Зона парковки может дополнительно обозначаться синим цветом</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_29.png" class="image" />
		<h5 class="text">1.29</h5>
		<h5 class="text">Описание: Применяется для обозначения велосипедных дорожек и располагается по оси полос движения велосипедистов</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_30.png" class="image" />
		<h5 class="text">1.30</h5>
		<h5 class="text">Описание: Применяется для обозначения пешеходных дорожек и располагается по оси полосы движения пешеходов</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_31.png" class="image" />
		<h5 class="text">1.31</h5>
		<h5 class="text">Описание: Применяется для обозначения дорожек, предназначенных для совместного движения пешеходов и велосипедистов и обозначенных знаками 4.5.1 или 4.6.1</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_32.png" class="image" />
		<h5 class="text">1.32</h5>
		<h5 class="text">Описание: Применяется на велосипедных дорожках перед пересечением их с пешеходными дорожками или тротуарами и обозначает место, где велосипедист должен предоставить преимущество пешеходам</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_33.png" class="image" />
		<h5 class="text">1.33</h5>
		<h5 class="text">Описание: Применяется для обозначения направления движения велосипедистов по полосам движения, выделенным разметкой или различным цветом покрытия</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_34.png" class="image" />
		<h5 class="text">1.34</h5>
		<h5 class="text">Описание: Обозначение приближения к школе</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_35_1.png" class="image" />
		<h5 class="text">1.35.1</h5>
		<h5 class="text">Описание: Изображение на проезжей части дорожного знака 3.33</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_35_2.png" class="image" />
		<h5 class="text">1.35.2</h5>
		<h5 class="text">Описание: Изображение на проезжей части дорожного знака 3.34</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_36.png" class="image" />
		<h5 class="text">1.36</h5>
		<h5 class="text">Описание: Обозначение места, выделенного конструктивно или с помощью дорожной разметки 1.1, где разрешены остановка и стоянка только транспортных средств оперативного назначения органов внутренних дел</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_37.png" class="image" />
		<h5 class="text">1.37</h5>
		<h5 class="text">Описание: Обозначение границ перекрёстка</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_38.png" class="image" />
		<h5 class="text">1.38</h5>
		<h5 class="text">Описание: Изображение на проезжей части дорожного знака 1.37. Может применяться без установки соответствующего дорожного знака</h5>
	</div>

	<div class="road-signs">
		<img src="https://pddonline.by/media/uploads/images/42/1_39.png" class="image" />
		<h5 class="text">1.39</h5>
		<h5 class="text">Описание: Изображение на проезжей части дорожного знака 7.4.10. Может применяться без установки соответствующего дорожного знака, при этом устанавливает аналогичные ему требования. При обозначении парковочного места соответствующая зона парковки может дополнительно обозначаться зелёным цветом</h5>
	</div>
	
	<h5>Применение линий разметок 1.24.1–1.24.3, 1.27–1.34 не является обязательным, решение об их нанесении принимается владельцами дорог по согласованию с ГАИ.</h5>
</div>
<div id="section3">
	<h2 style="margin-top: 20px">Глава 3. Вертикальная дорожная разметка</h2>
	<h5>
		10.
		Вертикальная дорожная разметка (далее — разметка) 2.1.1–2.1.3 обозначает вертикальные элементы дорожных сооружений (опор мостов, путепроводов, эстакад, торцовых частей парапетов), если эти элементы представляют опасность для движения транспортных средств. Щитки с разметкой 2.1.1–2.1.3 могут устанавливаться на опоры дорожных знаков 4.2.1–4.2.3.
	</h5>
	<h5>
		11.
		Разметка 2.2 обозначает нижний край пролётного строения мостов, путепроводов и эстакад.
	</h5>
	<h5>
		12.
		Разметка 2.3 обозначает круглые тумбы, установленные на разделительных полосах или островках безопасности.
	</h5>
	<h5>
		13.
		Разметка 2.4.1 выполнена со световозвращающим элементом красного цвета и обозначает сигнальные столбики, в том числе укороченные, надолбы, опоры ограждений и т.п., расположенные справа от проезжей части дороги.
	</h5>
	<h5>
		14.
		Разметка 2.4.2 выполнена со световозвращающим элементом белого, жёлтого цветов и обозначает сигнальные столбики, в том числе укороченные, надолбы, опоры ограждений и т.п., расположенные слева от проезжей части дороги.
	</h5>
	<h5>15.	Разметка 2.4.3 обозначает сигнальные щитки, установленные на барьерных ограждениях дорог.</h5>
	<h5>
		16.
		Разметка 2.5 обозначает боковые поверхности начальных и конечных участков дорожных ограждений.
	</h5>
	<h5>
		17.
		Разметка 2.6 обозначает бордюры на опасных участках дороги и возвышающихся островках безопасности.
	</h5>

    <div>
        <h5>
            18.
            Разметка имеет следующее графическое изображение:
        </h5>

        <div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/8eFEGzukDfc.png" class="image" />
			<h5 class="text">2.1-2.6 Вертикальная дорожная разметка</h5>
        </div>
    </div>
</div>