@{
	ViewData["Title"] = $"Дорожные светофоры";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Дорожные светофоры</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-categoryID="2" style="margin-left: 0px; margin-bottom: 15px; text-decoration: none; font-size: 18px;">Тест</a>
</div>

<h2>Оглавление</h2>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Транспортные светофоры</a></p>
	<p><a href="#section2" class="section">Глава 2. Пешеходные светофоры</a></p>
	<p><a href="#section3" class="section">Глава 3. Дополнительное оборудование, применяемое с дорожными светофорами</a></p>
</div>

<div id="section1">
	<h2 style="margin-top: 20px">Глава 1. Транспортные светофоры</h2>
	<div>
		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/nszYsZlEtoM.png" class="image" />
			<h5 class="text">1 С вертикальным расположением сигналов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/NXk82DpdP6o.png" class="image" />
			<h5 class="text">2 С дополнительными секциями</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/uatgoAYskiU.png" class="image" />
			<h5 class="text">3 Для регулирования движения в определенных направлениях</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/fN6n2LAc4zw.png" class="image" />
			<h5 class="text">4 Для регулирования движения велосипедистов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/phKQhkAFdLo.png" class="image" />
			<h5 class="text">5 С горизонтальным расположением сигналов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/DNifEWFeaZo.png" class="image" />
			<h5 class="text">6 Реверсивный</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/V9-kRLajUZ8.png" class="image" />
			<h5 class="text">7 Для регулирования движения трамваев и других маршрутных транспортных средств</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/ni8xVn9PRf8.png" class="image" />
			<h5 class="text">8 Для регулирования движения на территориях организаций и в местах сужения проезжей части дороги</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/jqXDVcPCTwQ.png" class="image" />
			<h5 class="text">9 Для обозначения нерегулируемых перекрестков и пешеходных переходов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/wfiZZVTH8jE.png" class="image" />
			<h5 class="text">10 Для регулирования движения через железнодорожные переезды</h5>
		</div>
	</div>
</div>
<div id="section2">
	<h2 style="margin-top: 20px">Глава 2. Пешеходные светофоры</h2>
	<div>
		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/81wGrZ2_-tg.png" class="image" />
			<h5 class="text">11 Пешеходные светофоры</h5>
		</div>
	</div>
</div>
<div id="section3">
	<h2 style="margin-top: 20px">Глава 3. Дополнительное оборудование, применяемое с дорожными светофорами</h2>
	<div>
		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/bEJHco-2EOY.png" class="image" />
			<h5 class="text">12 Информационные секции</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/KWxe4E-RKT4.png" class="image" />
			<h5 class="text">13 Обозначающие таблички</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/2anIm5uboc4.png" class="image" />
			<h5 class="text">14 Информационные таблички</h5>
		</div>
	</div>
</div>