@model UserModel
@{
    ViewData["Title"] = "Личный кабинет";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Sign_In.css" asp-append-version="true" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="fullscreen-container">
        <div class="login-container">
            <h1 class="header">Личный кабинет</h1>
            <form class="form">
                <label>Имя: @Model.UserName</label>
                <label>Почта: @Model.Email</label>
                <button class="button" asp-area="" asp-controller="User" asp-action="Exit_in_account">Выйти из аккаунта</button>
                <div class="text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
                </div>
            </form>
        </div>
    </div>
</body>