@model UserModel
@{
    ViewData["Title"] = "Личный кабинет";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Sign_In.css" asp-append-version="true" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="fullscreen-container">
        <div class="login-container">
            <h1 class="header">Личный кабинет</h1>
            <form class="form">
@*                 <div class="input-group">
                    <label for="username">Имя</label>
                    <input type="text" id="username" name="username" placeholder="Введите имя" required asp-for="UserName">
                    <span asp-validation-for="UserName" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Введите Email" required asp-for="Email">
                    <span asp-validation-for="Email" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" placeholder="Введите пароль" required asp-for="Password">
                    <span asp-validation-for="Password" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="repeat_password">Введите пароль еще раз</label>
                    <input type="password" id="repeat_password" name="repeat_password" placeholder="Введите пароль еще раз" required asp-for="Repeat_password">
                    <span asp-validation-for="Repeat_password" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>
                <button class="button">Зарегистрировться</button> *@
                <button class="button" asp-area="" asp-controller="User" asp-action="Exit_in_account">Выйти из аккаунта</button>
                <div class="text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
                </div>
            </form>
        </div>
    </div>
</body>