@model UserModel
@{
	ViewData["Title"] = "Вход в аккаунт";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Sign_In.css" asp-append-version="true" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="fullscreen-container">
        <div class="login-container">
            <h1 class="header">Login</h1>
            <form class="form" asp-controller="User" asp-action="Check_Sign_In" method="post">
                <div class="input-group">
                    <label for="email">Логин</label>
                    <input type="text" id="email" name="email" placeholder="Введите логин" required>
                    <span asp-validation-for="Email" style="color: red; font-size: 16px; display: block; height: 16px; margin-top: 4px;"></span>
                </div>
                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" placeholder="Введите пароль" required>
                    <span asp-validation-for="Password" style="color: red; font-size: 16px; display: block; height: 16px; margin-top: 4px;"></span>
                </div>
                <button class="button">Login</button>
            </form>
        </div>
    </div>
</body>