@{
	ViewData["Title"] = $"Первая медецинская помощь";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
	@* 	<link rel="stylesheet" href="~/css/AllQuestions.css asp-append-version="true" /> *@
}

<h1 id="title">Первая медецинская помощь</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Admin" asp-action="AddQuestions" style="margin-left: 0px; text-decoration: none">Добавить вопрос</a>
</div>