@{
	ViewData["Title"] = $"Правила дорожного движения";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Правила дорожного движения</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Admin" asp-action="AddQuestions" style="margin-left: 0px; text-decoration: none">Добавить вопрос</a>
</div>
<div class="sections">
	<p><a href="#section1" class="section">Глава 1. ОБЩИЕ ПОЛОЖЕНИЯ</a></p>
	<p><a href="#section2" class="section">Глава 2. ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ УЧАСТНИКОВ ДОРОЖНОГО ДВИЖЕНИЯ</a></p>
	<p><a href="#section3" class="section">Глава 3. ПРАВА И ОБЯЗАННОСТИ ВОДИТЕЛЕЙ</a></p>
	<p><a href="#section4" class="section">Глава 4. ПРАВА И ОБЯЗАННОСТИ ПЕШЕХОДОВ</a></p>
	<p><a href="#section5" class="section">Глава 5. ОБЯЗАННОСТИ ПАССАЖИРОВ</a></p>
	<p><a href="#section6" class="section">Глава 6. ПРАВА И ОБЯЗАННОСТИ ВОДИТЕЛЕЙ И ДРУГИХ ЛИЦ В ОСОБЫХ СЛУЧАЯХ</a></p>
	<p><a href="#section7" class="section">Глава 7. СИГНАЛЫ РЕГУЛИРОВЩИКА И СВЕТОФОРОВ</a></p>
	<p><a href="#section8" class="section">Глава 8. ПРИМЕНЕНИЕ АВАРИЙНОЙ СВЕТОВОЙ СИГНАЛИЗАЦИИ,<br>ЗНАКА АВАРИЙНОЙ ОСТАНОВКИ, ФОНАРЯ С МИГАЮЩИМ КРАСНЫМ СВЕТОМ</a></p>
</div>
<div id="section1">
	<div>
		<h2 style="margin-top: 30px">ГЛАВА 1</h2>
		<h2 style="margin-top: 20px">ОБЩИЕ ПОЛОЖЕНИЯ</h2>
	</div>
	<div><h5>1. Настоящими Правилами определяется порядок движения на дорогах Республики Беларусь.</h5></div>
	<div>
		<h5>2. В настоящих Правилах применяются следующие основные термины и понятия:</h5>
		<h5>2.1. Автобус — автомобиль с числом мест для сидения более девяти, включая место водителя;</h5>
		<h5>2.2. Автомобиль — механическое транспортное средство, имеющее не менее четырех колес, расположенных не менее чем на двух осях, за исключением колесных тракторов и самоходных машин. К автомобилям приравниваются квадрициклы (мотоколяски) — четырехколесные механические транспортные средства, имеющие приводы управления автомобильного типа и массу в снаряженном состоянии не более 550 килограммов;</h5>
		<h5>2.3. Автопоезд — состав транспортных средств, состоящий из автомобиля (колесного трактора) и буксируемого им прицепа, прицепа-роспуска, полуприцепа (если не указано иное, далее — прицеп);</h5>
		<h5>2.4. Безопасность дорожного движения — состояние дорожного движения, обеспечивающее минимальную вероятность возникновения опасности для движения и дорожно-транспортного происшествия;</h5>
		<h5>2.5. Велосипед, веломобиль (далее — велосипед) — транспортное средство, за исключением инвалидных колясок, которое имеет не менее двух колес и приводится в движение мускульной силой человека (людей), находящегося на (в) нем, в частности при помощи педалей или рукояток. К велосипеду приравниваются аналогичные по конструкции транспортные средства, имеющие электродвигатель номинальной максимальной мощностью в режиме длительной нагрузки, не превышающей 0,25 кВт, и максимальную конструктивную скорость движения, определенную его технической характеристикой, не более 25 км/ч либо иной двигатель с аналогичной характеристикой;</h5>
		<h5>2.6. Велосипедная дорожка — обособленная дорога либо выделенный конструктивно или с помощью линий горизонтальной дорожной разметки элемент дороги, предназначенные для движения водителей велосипедов (далее — велосипедисты) и пешеходов, передвигающихся с использованием средств персональной мобильности, обозначенные дорожными знаками «Велосипедная дорожка», «Велосипедная и пешеходная дорожка» и (или) дорожной разметкой 1.29 либо 1.31 соответственно. Велосипедная дорожка может обозначаться зеленым цветом;</h5>
		<h5>2.6.1. Велосипедный переезд — участок проезжей части, предназначенный для движения велосипедистов и пешеходов, передвигающихся с использованием средств персональной мобильности, через проезжую часть дороги и обозначенный дорожными знаками «Велосипедный переезд» и (или) горизонтальной дорожной разметкой;</h5>
		<h5>2.7. Видимость дороги — максимальное расстояние в направлении движения, на котором с места водителя можно распознать элементы дороги и технические средства организации дорожного движения перед транспортным средством и правильно ориентироваться при управлении им;</h5>
		<h5>2.8. Водитель — физическое лицо, управляющее транспортным средством, самоходной машиной, за исключением лица, обучаемого управлению механическим транспортным средством, самоходной машиной (сдающего квалификационный практический экзамен на право управления механическим транспортным средством, самоходной машиной). К водителю приравниваются лицо, обучающее управлению механическим транспортным средством, самоходной машиной (принимающее квалификационный практический экзамен на право управления механическим транспортным средством, самоходной машиной) и при этом находящееся в нем (ней), а также всадник, погонщик скота;</h5>
		<h5>2.9. Вынужденная остановка транспортного средства — прекращение движения транспортного средства из-за его технической неисправности или опасности, создаваемой участниками дорожного движения, перевозимым грузом, состоянием водителя (пассажира), появлением объекта, препятствующего дорожному движению;</h5>
		<h5>2.10. Газон — участок земли с естественным или искусственно созданным растительным, преимущественно травяным, покровом;</h5>
		<h5>2.11. Главная дорога — дорога, обозначенная дорожными знаками «Главная дорога», «Пересечение со второстепенной дорогой», «Примыкание второстепенной дороги», «Автомагистраль» или «Дорога для автомобилей», по отношению к пересекаемой (примыкающей), дорога с усовершенствованным покрытием по отношению к дороге без такого покрытия, дорога с гравийным покрытием по отношению к грунтовой, любая дорога по отношению к выездам с прилегающих территорий или жилых зон. Наличие на второстепенной дороге непосредственно перед перекрестком участка с покрытием (усовершенствованным или гравийным) не делает ее равной по значению с пересекаемой;</h5>
		<h5>2.12. Государственный технический осмотр — совокупность организационно-технических мер, направленных на недопущение к участию в дорожном движении транспортных средств, не соответствующих требованиям технических нормативных правовых актов республиканского органа государственного управления по стандартизации, метрологии и сертификации (далее — технические нормативные правовые акты);</h5>
		<h5>2.13. Гужевое транспортное средство — транспортное средство, приводимое в движение мускульной силой животного (животных);</h5>
		<h5>2.14. Дети — несовершеннолетние участники дорожного движения, возраст которых известен либо очевиден по внешним признакам другим участникам дорожного движения;</h5>
		<h5>2.15. Дорога — комплекс инженерных сооружений либо полоса земли, предназначенные и используемые для движения в установленном порядке транспортных средств и пешеходов;</h5>
		<h5>2.16. Дорожка для всадников — полоса земли, предназначенная для движения в установленном порядке всадников, обозначенная дорожным знаком «Дорожка для всадников»;</h5>
		<h5>2.17. Дорожное движение — движение пешеходов и (или) транспортных средств по дороге, в том числе стоянка и остановка в пределах дороги, и связанные с ним общественные отношения;</h5>
		<h5>2.18. Дорожно-транспортное происшествие — происшествие, совершенное с участием хотя бы одного находившегося в движении механического транспортного средства, в результате которого причинен вред жизни или здоровью физического лица, его имуществу либо имуществу юридического лица;</h5>
		<h5>2.19. Железнодорожное транспортное средство — локомотив, электропоезд, дизель-поезд, автомотриса, иное транспортное средство, предназначенное для перевозки пассажиров и грузов по железнодорожному пути;</h5>
		<h5>2.20. Железнодорожный переезд — пересечение дороги с железнодорожными путями на одном уровне;</h5>
		<h5>2.21. Жилая зона — территория, въезды на которую и выезды с которой обозначены дорожными знаками «Жилая зона» и «Конец жилой зоны», а также дворовая территория, прилегающая к жилой застройке;</h5>
		<h5>2.21.1. Зона с ограничением максимальной скорости — территория, въезды на которую и выезды с которой обозначены дорожными знаками «Зона с ограничением максимальной скорости движения» и «Конец зоны с ограничением максимальной скорости движения»;</h5>
		<h5>2.22. Колесный трактор — механическое транспортное средство для выполнения разнообразных технологических операций с помощью навесных, полунавесных и прицепных машин или орудий, а также для привода стационарных машин или движения в составе с прицепом;</h5>
		<h5>2.22.1. Комбинированное транспортное средство — состав транспортных средств, состоящий из грузового автомобиля, автомобиля-тягача, седельного тягача, колесного трактора и буксируемого механического транспортного средства;</h5>
		<h5>2.23. Крайнее правое (левое) положение на проезжей части дороги — положение транспортного средства на проезжей части дороги, предназначенной для движения в данном направлении, не дающее возможности движения даже одноколейных транспортных средств соответственно правее (левее) в попутном направлении;</h5>
		<h5>2.24. Маневрирование (маневр) — начало движения, перестроение транспортного средства в движении из одной полосы движения в другую (далее — перестроение), выезд транспортного средства на трамвайные пути, съезд с них, а также его поворот направо или налево, разворот, съезд с проезжей части дороги, движение задним ходом;</h5>
		<h5>2.25. Маршрутное транспортное средство — механическое транспортное средство (автобус, троллейбус, трамвай, иное транспортное средство, осуществляющее движение в регулярном обычном, скоростном сообщении, в том числе экспрессном), движущееся по установленному маршруту с обозначенными остановочными пунктами;</h5>
		<h5>2.26. Механическое транспортное средство — транспортное средство, приводимое в движение двигателем;</h5>
		<h5>2.27. Мопед — двух- или трехколесное механическое транспортное средство, приводимое в движение двигателем с рабочим объемом до 50 куб. сантиметров (в случае двигателя внутреннего сгорания) или электродвигателем номинальной максимальной мощностью в режиме длительной нагрузки более 0,25 кВт и не более 4 кВт и имеющее максимальную конструктивную скорость движения, определенную его техническими характеристиками, не более 50 км/ч. К мопедам приравниваются другие механические транспортные средства с аналогичными характеристиками;</h5>
		<h5>2.28. Мотоцикл — двухколесное механическое транспортное средство с боковым прицепом или без него, приводимое в движение двигателем с рабочим объемом 50 куб. сантиметров и более (в случае двигателя внутреннего сгорания) или максимальная конструктивная скорость которого (при любом двигателе) превышает 50 км/ч. К мотоциклам приравниваются трех- и четырехколесные механические транспортные средства с приводами управления мотоциклетного типа, имеющие массу в снаряженном состоянии не более 550 килограммов (без учета массы аккумуляторов электрических транспортных средств) и максимальную эффективную мощность двигателя, не превышающую 15 кВт;</h5>
		<h5>2.29. Населенный пункт — территория, въезды на которую и выезды с которой обозначены дорожными знаками «Начало населенного пункта» и «Конец населенного пункта» или дорожными знаками «Начало границы населенного пункта» и «Конец границы населенного пункта»;</h5>
		<h5>2.30. Недостаточная видимость дороги — видимость дороги в направлении движения менее 300 метров, обусловленная погодными (метеорологическими) условиями (дождь, снег и иные атмосферные осадки) и другими факторами, снижающими прозрачность атмосферы (пыль, дым, туман, смог);</h5>
		<h5>2.31. Обгон — опережение одного или нескольких движущихся транспортных средств, связанное с выездом на встречную полосу движения (сторону проезжей части дороги);</h5>
		<h5>2.32. Обзорность дороги — объективная возможность видеть дорожную обстановку с места водителя;</h5>
		<h5>2.33. Обозначенный перекресток — перекресток, перед которым на данной дороге установлен дорожный знак (знаки) приоритета;</h5>
		<h5>2.34. Обочина — выделенный конструктивно или сплошной линией горизонтальной дорожной разметки элемент дороги, примыкающий непосредственно к внешнему краю проезжей части, расположенный с ней на одном уровне и не предназначенный для движения транспортных средств, кроме случаев, предусмотренных настоящими Правилами;</h5>
		<h5>2.35. Ограниченная обзорность дороги — обзорность дороги, ограниченная геометрическими параметрами дороги, придорожными инженерными сооружениями, насаждениями и прочими объектами, а также транспортными средствами;</h5>
		<h5>2.36. Одноколейное транспортное средство — транспортное средство на колесах, которые размещены на одной линии одно за другим;</h5>
		<h5>2.37. Опасность для движения — изменение условий дорожного движения или технического состояния транспортного средства, угрожающее безопасности участников дорожного движения, вынуждающее водителя снизить скорость движения или остановиться;</h5>
		<h5>2.38. Опережение — движение транспортного средства со скоростью, превышающей скорость попутно движущегося транспортного средства (транспортных средств);</h5>
		<h5>2.39. Организованная пешеходная колонна — группа пешеходов, обозначенная в соответствии с настоящими Правилами, имеющая руководителя и передвигающаяся по определенному маршруту;</h5>
		<h5>2.40. Организованная транспортная колонна — транспортное средство или транспортная колонна, движущиеся с постоянно включенным ближним светом фар в сопровождении транспортного средства (транспортных средств) оперативного назначения с включенными проблесковыми сигналами (маячками) (далее — маячки) синего или синего и красного цветов;</h5>
		<h5>2.40.1 Оставление места дорожно-транспортного происшествия — действия участника дорожно-транспортного происшествия, направленные на сокрытие факта такого происшествия или обстоятельств его совершения, повлекшие необходимость проведения сотрудниками Государственной автомобильной инспекции Министерства внутренних дел (далее — ГАИ) мероприятий по установлению (розыску) данного участника и (или) розыску транспортного средства;</h5>
		<h5>2.41. Остановка транспортного средства — преднамеренное прекращение движения транспортного средства на время до 5 минут или более чем на 5 минут, если это необходимо для посадки (высадки) пассажиров либо загрузки (разгрузки) транспортного средства, а также зарядки электромобиля;</h5>
		<h5>2.42. Островок безопасности — техническое средство организации дорожного движения на наземных пешеходных переходах (если не определено иное, далее — пешеходный переход), защитные элементы которого обеспечивают конструктивное выделение места для безопасной остановки пешеходов при переходе проезжей части дороги. К островку безопасности относится участок разделительной полосы, через которую проходит пешеходный переход;</h5>
		<h5>2.43. очевидец дорожно-транспортного происшествия — физическое лицо, непосредственно наблюдавшее дорожно-транспортное происшествие, которое располагает соответствующей информацией и может ее предоставить;</h5>
		<h5>2.44. Пассажир — непричастное к управлению транспортным средством физическое лицо, находящееся в (на) транспортном средстве, а также входящее (садящееся) в (на) транспортное средство или сходящее (высаживающееся) с транспортного средства;</h5>
		<h5>2.45. Перекресток — место пересечения, примыкания или разветвления дорог на одном уровне. Граница перекрестка определяется линиями дорожной разметки 1.37, а при ее отсутствии — воображаемыми линиями, соединяющими соответственно противоположные, наиболее удаленные от центра перекрестка начала закруглений проезжих частей дорог. Не являются перекрестками пересечения с велосипедными, пешеходными дорожками и дорожками для всадников;</h5>
		<h5>2.46. Пешеход — физическое лицо, участвующее в дорожном движении вне транспортного средства, в том числе передвигающееся в инвалидной коляске, на самокате, роликовых коньках, лыжах, другом спортивном инвентаре, ведущее велосипед, мопед или мотоцикл, везущее санки или коляску (тележку) и не выполняющее в установленном порядке на дороге ремонтные и другие работы. К пешеходу приравнивается лицо, передвигающееся с использованием средства персональной мобильности;</h5>
		<h5>2.47. Пешеходная дорожка— выделенный конструктивно или с помощью линий горизонтальной дорожной разметки элемент дороги, предназначенный для движения пешеходов, обозначенный дорожными знаками «Пешеходная дорожка», «Велосипедная и пешеходная дорожка» и (или) дорожной разметкой 1.30 либо 1.31 соответственно;</h5>
		<h5>2.48. Пешеходная зона — территория, предназначенная для движения пешеходов и велосипедистов, въезды на которую и выезды с которой обозначены дорожными знаками «Пешеходная зона» и «Конец пешеходной зоны»;</h5>
		<h5>2.49. Пешеходный переход — участок проезжей части, предназначенный для движения пешеходов через проезжую часть дороги и обозначенный дорожными знаками «Пешеходный переход» и (или) горизонтальной дорожной разметкой;</h5>
		<h5>2.50. Полоса движения — любая из продольных полос проезжей части дороги, обозначенная или не обозначенная горизонтальной дорожной разметкой и имеющая ширину, достаточную для движения транспортных средств (за исключением одноколейных) в один ряд;</h5>
		<h5>2.51. Преимущество — право на первоочередное движение в намеченном направлении по отношению к другим участникам дорожного движения. Преимущество пешеходу считается предоставленным, если расстояние между транспортным средством и приближающимся пешеходом (в момент пересечения транспортным средством траектории движения пешехода) составило не менее двух полос движения транспортного средства (в том числе одну полосу и трамвайные пути попутного направления, одну полосу и разделительную полосу или зону, одну полосу и островок безопасности). В таком случае водитель вправе не принимать мер, предусмотренных в подпункте 2.76 настоящего пункта;</h5>
		<h5>2.52. Препятствие для дорожного движения — объект, который находится на пути участника дорожного движения и вынуждает его снизить скорость движения, совершить объезд или остановиться;</h5>
		<h5>2.53. Прилегающая территория — территория, непосредственно прилегающая к проезжей части дороги, не предназначенная для сквозного проезда, на которой расположены дворы, площадки, специально отведенные для стоянки транспортных средств, автозаправочные станции, строительные площадки и иные объекты;</h5>
		<h5>2.54. Прицеп — транспортное средство, предназначенное для движения в составе с механическим транспортным средством;</h5>
		<h5>2.55. Проезжая часть дороги — элемент дороги, предназначенный для движения транспортных средств и в случаях, предусмотренных настоящими Правилами, — для движения пешеходов;</h5>
		<h5>2.56. Путепровод — инженерное сооружение, устраиваемое в местах пересечения дорог или дороги с железнодорожными путями для обеспечения беспрепятственного движения в разных уровнях;</h5>
		<h5>2.57. Разделительная зона — выделенный горизонтальной дорожной разметкой элемент дороги, разделяющий смежные проезжие части и не предназначенный для движения или остановки транспортных средств и пешеходов вне специально обозначенных мест;</h5>
		<h5>2.58. Разделительная полоса — выделенный конструктивно элемент дороги, разделяющий смежные проезжие части и не предназначенный для движения или остановки транспортных средств и пешеходов вне специально оборудованных и обозначенных мест;</h5>
		<h5>2.59. Регулировщик — сотрудник ГАИ, осуществляющий регулирование дорожного движения в экипировке (форменной одежде повышенной видимости с элементами из световозвращающего материала, с жезлом и свистком). К регулировщику приравниваются:</h5>
		<h5><li> Сотрудник Военной автомобильной инспекции Вооруженных Сил, органов пограничной службы, органов государственной безопасности и подчиненных им воинских частей в экипировке (форменной одежде повышенной видимости с элементами из световозвращающего материала, с диском с красным сигналом (световозвращателем) и свистком) при обеспечении движения организованных транспортных колонн, в состав которых входят транспортные средства, принадлежащие Министерству обороны, Министерству внутренних дел, органам государственной безопасности, Государственному пограничному комитету, другим войскам и воинским формированиям;</li></h5>
		<h5><li> Работники дорожно-строительных и эксплуатационных организаций, дежурные на железнодорожных переездах и паромных переправах в одежде из световозвращающего материала, с диском с красным сигналом (световозвращателем) при исполнении ими своих служебных обязанностей;</li></h5>
		<h5>2.60. Cамоходная машина — гусеничный трактор, сельскохозяйственная, дорожная, строительная, иная машина, которые без дополнительных мер обеспечения безопасности дорожного движения, предусмотренных изготовителем, не предназначены для участия в дорожном движении. При участии в дорожном движении самоходные машины приравниваются к транспортным средствам, а их движение по дорогам должно осуществляться в соответствии с требованиями настоящих Правил, предъявляемыми к транспортным средствам, если этими Правилами не установлено иное в отношении самоходных машин;</h5>
		<h5>2.60.1. Cредство персональной мобильности — устройство или приспособление, не являющиеся транспортными средствами, приводимые в движение двигателем и предназначенные для индивидуального или совместного (в случае наличия специально оборудованных мест для сидения) использования пешеходами (электросамокат, гироскутер, сигвей, моноколесо и прочее);</h5>
		<h5>2.61. Cтоянка транспортного средства — преднамеренное прекращение движения транспортного средства более чем на 5 минут по причинам, не связанным с посадкой (высадкой) пассажиров либо загрузкой (разгрузкой) транспортного средства, а также зарядкой электромобиля;</h5>
		<h5>2.62. Тахограф — оборудование, предназначенное для установки на транспортных средствах в целях показания или регистрации в автоматическом или полуавтоматическом режиме данных о движении этих транспортных средств или об определенных периодах работы их водителей;</h5>
		<h5>2.63. Темное время суток — промежуток времени, который начинается после захода солнца и заканчивается с восходом солнца;</h5>
		<h5>2.64. Технически допустимая общая масса — максимальная масса транспортного средства, установленная изготовителем (с грузом, водителем и пассажирами). Технически допустимой общей массой автопоезда является сумма технически допустимых общих масс автомобиля (колесного трактора) и прицепа;</h5>
		<h5>2.65. Технические средства организации дорожного движения — устройства, конструкции и изображения, применяемые на дорогах для регулирования дорожного движения, обеспечения его безопасности и повышения пропускной способности дорог;</h5>
		<h5>2.66. Тихоходное транспортное средство — механическое транспортное средство, которое по своей конструкции или по условиям обеспечения безопасности при перевозке груза не может двигаться со скоростью, превышающей 30 км/ч, обозначенное опознавательным знаком «Тихоходное транспортное средство»;</h5>
		<h5>2.67. Трамвай — механическое транспортное средство, предназначенное для движения по рельсам, участвующее в дорожном движении и не являющееся железнодорожным транспортным средством;</h5>
		<h5>2.68. Транспортная колонна — группа из двух и более механических транспортных средств, следующих друг за другом по одной полосе движения с постоянно включенным ближним светом фар, обозначенная опознавательными знаками «Колонна», если иное не определено подпунктом 201.7 пункта 201 настоящих Правил;</h5>
		<h5>2.68.1. Транспортная развязка в разных уровнях — инженерное сооружение, включающее путепровод и съезды, обеспечивающие перемещение транспортных средств с одной дороги на другую;</h5>
		<h5>2.69. Транспортное средство — устройство, предназначенное для движения по дороге и для перевозки пассажиров, грузов или установленного на нем оборудования;</h5>
		<h5>2.70. Транспортное средство оперативного назначения — транспортное средство, имеющее специальную цветографическую окраску и (или) световую и звуковую сигнализацию;</h5>
		<h5>2.71. Троллейбус — механическое транспортное средство, приводимое в движение электродвигателем, питание которого обеспечивается по подвесной контактной сети от внешнего источника электрического тока;</h5>
		<h5>2.72. Тротуар — элемент дороги, примыкающий к проезжей части или отделенный от нее газоном, предназначенный для движения пешеходов и велосипедистов в соответствии с настоящими Правилами;</h5>
		<h5>2.73. Тяжеловесное и (или) крупногабаритное транспортное средство — транспортное средство, максимальные весовые и (или) габаритные размеры которого превышают допустимые параметры, установленные для проезда по автомобильным дорогам общего пользования;</h5>
		<h5>2.74. Управление транспортным средством — воздействие на органы управления транспортного средства, приведшее к изменению его положения относительно первоначального;</h5>
		<h5>2.75. Усовершенствованное покрытие — покрытие дороги из асфальтобетонных или цементобетонных смесей, из щебеночных, гравийных, шлаковых или других минеральных материалов, обработанных органическими или минеральными вяжущими материалами, а также из штучных материалов: брусчатки, булыжника, клинкера, мозаики и т.п.;</h5>
		<h5>2.76. Уступить дорогу (предоставить преимущество) — требование, означающее не возобновлять движение, снизить скорость движения вплоть до остановки транспортного средства или не осуществлять какой-либо маневр (за исключением требования освободить занимаемую полосу движения, подаваемого регулировщиком или водителем транспортного средства оперативного назначения), если это может вынудить другого участника (других участников) дорожного движения изменить направление и (или) скорость движения;</h5>
		<h5>2.77. Участник дорожного движения — физическое лицо, находящееся в пределах дороги в (на) транспортном средстве или вне его, за исключением регулировщика и работника, выполняющего в установленном порядке на дороге ремонтные и другие работы;</h5>
		<h5>2.77.1. Шасси транспортного средства — составная часть грузового автомобиля, прицепа к нему, грузопассажирского автомобиля, тягача, предназначенная для последующего изготовления транспортного средства, не имеющая составляющих частей для перевозки пассажиров и (или) грузов и установленного оборудования. Участие в дорожном движении шасси транспортных средств должно осуществляться в соответствии с требованиями настоящих Правил, предъявляемыми к транспортным средствам, если этими Правилами не установлено иное в отношении шасси транспортных средств;</h5>
		<h5>2.77.2. Электромобиль — транспортное средство, приводимое в движение только электродвигателем от внутреннего перезаряжаемого источника электроэнергии;</h5>
		<h5>2.78. Элементы дороги — одна или несколько проезжих частей дороги, трамвайные пути, тротуары, пешеходные и велосипедные дорожки (за исключением велосипедных дорожек, расположенных обособленно от дороги), посадочные площадки, расположенные на проезжей части дороги и предназначенные для посадки (высадки) пассажиров в маршрутное транспортное средство, островки безопасности, выделенные конструктивно или линиями горизонтальной дорожной разметки, разделительные зоны, разделительные полосы, настилы железнодорожных переездов и обочины.</h5>
	</div>
	<div><h5>3. На дорогах Республики Беларусь установлено правостороннее движение транспортных средств.</h5></div>
	<div><h5>На дорогах Республики Беларусь запрещается участие в дорожном движении транспортных средств, устройств, приспособлений, машин и механизмов, не подлежащих регистрации в порядке, установленном Советом Министров Республики Беларусь, за исключением случаев их участия в дорожном движении по дорогам без усовершенствованного покрытия, а также в иных случаях, предусмотренных настоящими Правилами. При участии в дорожном движении такие транспортные средства, устройства, приспособления, машины и механизмы приравниваются к транспортным средствам, а их движение по дорогам должно осуществляться в соответствии с требованиями настоящих Правил, предъявляемыми к транспортным средствам, если этими Правилами не установлено иное в отношении данных транспортных средств, устройств, приспособлений, машин и механизмов.</h5></div>
	<div><h5>Снегоболотоходы колесные малогабаритные (квадроциклы — ATV) типа I категорий G, S и типа II, снегоходы, мотовездеходы UTV с автомобильной посадкой допускаются к участию в дорожном движении только по дорогам без усовершенствованного покрытия.</h5></div>
	<div><h5>4. ГАИ осуществляется согласование дорожного движения в случаях, не оговоренных настоящими Правилами, а также при применении в экспериментальных целях технических средств организации дорожного движения, не предусмотренных настоящими Правилами и техническими нормативными правовыми актами. Своевременное доведение в доступных формах до сведения физических и юридических лиц технических нормативных правовых актов в сфере дорожного движения и обеспечения его безопасности возлагается на республиканский орган государственного управления по стандартизации, метрологии и сертификации.Формы и методы контроля за выполнением участниками дорожного движения требований настоящих Правил определяются Министерством внутренних дел.</h5></div>
	<div><h5>5. Нарушение настоящих Правил влечет ответственность, установленную законодательными актами.</h5></div>
</div>
<div id="section2">
	<div>
		<h2 style="margin-top: 30px">ГЛАВА 2</h2>
		<h2 style="margin-top: 20px">ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ УЧАСТНИКОВ ДОРОЖНОГО ДВИЖЕНИЯ</h2>
		<div>
			<h5>6. Участники дорожного движения имеют право на:</h5>
			<h5>6.1. Обеспечение безопасных и эффективных условий дорожного движения;</h5>
			<h5>6.2. Получение от государственных органов и уполномоченных должностных лиц достоверной информации о безопасных условиях дорожного движения, причинах введения ограничения или запрещения движения по дорогам, качестве продукции, работ и услуг, связанных с обеспечением безопасности дорожного движения;</h5>
			<h5>6.3. Получение медицинской помощи в случае дорожно-транспортного происшествия;</h5>
			<h5>6.4. Обжалование в порядке, определенном законодательством, решений, действий (бездействия) государственных органов, осуществляющих государственное регулирование и управление в сфере дорожного движения и обеспечения его безопасности (их должностных лиц);</h5>
			<h5>6.5. Возмещение причиненного им и (или) их имуществу вреда в порядке, установленном законодательством;</h5>
			<h5>6.6. Пользование иными правами в области дорожного движения, предусмотренными настоящими Правилами и иными актами законодательства.</h5>
		</div>
		<div>
			<h5>7. Участники дорожного движения обязаны:</h5>
			<p>
				<h5>7.1.1. Сигналами (указаниями) регулировщика (далее — сигналы регулировщика);</h5>
				<h5>7.1.2. Сигналами дорожных светофоров (если не определено иное, далее — светофоры) (приложение 1);</h5>
				<h5>7.1.3. Дорожными знаками (приложение 2);</h5>
				<h5>7.1.4. Горизонтальной и вертикальной дорожной разметкой (приложение 3), а также иными средствами организации дорожного движения, в том числе направляющими устройствами;</h5>
				<h5>7.1.5. Перечнем неисправностей транспортных средств и условий, при которых запрещается их участие в дорожном движении (приложение 4);</h5>
				<h5>7.1.6. Опознавательными знаками транспортных средств (приложение 5);</h5>
			</p>
			<h5>7.2. Не создавать препятствий и опасности для дорожного движения, действовать добросовестно, корректно, быть внимательными и взаимно вежливыми. Каждый участник дорожного движения, соблюдающий настоящие Правила, вправе рассчитывать на то, что и другие участники дорожного движения будут выполнять содержащиеся в них требования;</h5>
			<h5>7.3. При сопровождении детей принимать все возможные меры по недопущению их самостоятельного выхода на проезжую часть дороги (кроме жилых и пешеходных зон);</h5>
			<h5>7.4. Принимать меры по недопущению загрязнения дорог и окружающей среды, не выбрасывать мусор и иные предметы вне специально отведенных мест;</h5>
			<h5>7.5. Исполнять другие обязанности в области дорожного движения, установленные настоящими Правилами и иными актами законодательства.</h5>
		</div>
	</div>
</div>
<div id="section3">
	<h2 style="margin-top: 30px">ГЛАВА 3</h2>
	<h2 style="margin-top: 20px">ПРАВА И ОБЯЗАНОСТИ ВОДИТЕЛЕЙ</h2>
	<div>
		<h5>8. Водитель имеет право:</h5>
		<h5>8.1 Управлять транспортным средством в установленном порядке;</h5>
		<h5>8.2. Знать причину, по которой сотрудником ГАИ, другими должностными лицами, указанными в части третьей подпункта 9.1 пункта 9 настоящих Правил, остановлено транспортное средство, а также фамилию и должность этих лиц. При этом лица, обладающие правом проверять у водителя документы, обязаны предъявить по требованию водителя служебное удостоверение;</h5>
		<h5>8.3. Передавать управление транспортным средством другому лицу, имеющему при себе водительское удостоверение на право управления механическим транспортным средством соответствующей категории (удостоверение тракториста-машиниста соответствующей категории с талоном к нему, временное разрешение на право управления механическим транспортным средством) (если не указано иное, далее — водительское удостоверение).</h5>
	</div>
	<div>
		<h5>9. Водитель обязан:</h5>
		<h5>
			9.1. Останавливаться по требованию сотрудника ГАИ в форменной одежде, а также должностных лиц, указанных в части третьей настоящего подпункта.<br>
			Требование сотрудника ГАИ об остановке транспортного средства должно быть подано им своевременно, понятно водителю и выражается путем подачи сигнала жезлом, жестом руки, с помощью громкоговорящего устройства или путем включения на транспортном средстве оперативного назначения маячка красного цвета.
		</h5>
		<h5>Должностные лица Следственного комитета, органов внутренних дел (кроме сотрудников ГАИ), органов государственной охраны, Государственной инспекции охраны животного и растительного мира при Президенте Республики Беларусь, органов финансовых расследований Комитета государственного контроля, Вооруженных Сил, внутренних войск Министерства внутренних дел, органов государственной безопасности, органов пограничной службы, таможенных органов, Транспортной инспекции Министерства транспорта и коммуникаций, государственной лесной охраны имеют право остановки транспортных средств только для осуществления возложенных на указанные органы функций. При этом они должны быть в форменной одежде, жилете повышенной видимости с элементами из световозвращающего материала и использовать для подачи сигнала диск с красным сигналом (световозвращателем). Должностным лицом Транспортной инспекции Министерства транспорта и коммуникаций, Государственной инспекции охраны животного и растительного мира при Президенте Республики Беларусь, находящимся в движущемся специальном автомобиле, также может быть подано требование об остановке транспортного средства, которое должно быть своевременным, понятно водителю и выражаться путем включения маячка синего цвета с использованием специальной информационной таблички (табло) и (или) громкоговорящего устройства.</h5>
		<h5>В темное время суток вне населенного пункта рядом с указанными лицами должно находиться транспортное средство оперативного назначения с включенным маячком. Данное требование не распространяется на сотрудников органов внутренних дел при обеспечении:</h5>
		<h5><li>проезда транспортных средств, используемых для транспортного обслуживания, сопровождения и обеспечения безопасности должностных лиц, подлежащих государственной охране в соответствии с законодательными актами;</li></h5>
		<h5><li>общественной безопасности и безопасности дорожного движения в местах проведения массовых мероприятий;</li></h5>
		<h5>
			9.2. По требованию сотрудника ГАИ пройти в установленном порядке проверку (освидетельствование) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;<br>
			9.3. Содержать участвующее в дорожном движении транспортное средство в технически исправном состоянии, проверять его техническое состояние перед началом движения, а также содержать в чистоте его стекла и внешние световые приборы;<br>
			9.4. Своевременно получать на находящееся в его владении (пользовании) механическое транспортное средство, а также прицеп (прицепы) к нему разрешение на допуск транспортного средства к участию в дорожном движении в порядке, установленном законодательством;<br>
			9.5. Быть пристегнутым и не перевозить пассажиров с непристегнутыми ремнями безопасности при движении в механическом транспортном средстве, оборудованном ремнями безопасности, а при движении на мотоцикле, мопеде — быть в застегнутом мотошлеме и не перевозить пассажиров без застегнутого мотошлема. Ремнем безопасности также должно быть пристегнуто лицо, обучаемое управлению механическим транспортным средством.<br>
			Допускается не пристегиваться ремнями безопасности только для:
		</h5>
		<h5><li>лица, обучающего управлению механическим транспортным средством или принимающего квалификационный практический экзамен на право управления транспортным средством, когда транспортным средством управляет соответственно обучаемый управлению или лицо, сдающее такой экзамен;</li></h5>
		<h5><li>пассажира транспортного средства оперативного назначения, водителя автомобиля-такси — при движении в населенном пункте во время перевозки пассажира;</li></h5>
		<h5><li>пассажира и водителя с медицинскими противопоказаниями, перечень которых определяется Министерством здравоохранения;</li></h5>
		<h5>
			9.6. Не выполнять действий, которые отвлекают его от управления транспортным средством;<br>
			9.7. Обеспечить безопасные условия перевозки пассажиров, в том числе перед перевозкой пассажира на мопеде, мотоцикле (кроме бокового прицепа к мотоциклу) убедиться, что пассажир не находится в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;<br>
			9.8. Выезжать на дорогу и съезжать с нее, переезжать разделительную полосу, разделительную зону в установленных для этого местах (места, обозначенные соответствующими дорожными знаками, дорожной разметкой, оборудованные ограждающими или направляющими устройствами и т.п.);<br>
			9.9. Предоставлять преимущество пешеходам на нерегулируемых пешеходных переходах, велосипедных переездах (в случае движения на средствах персональной мобильности) и регулируемых пешеходных переходах, велосипедных переездах (в случае движения на средствах персональной мобильности) при одновременном для водителей и пешеходов разрешающем сигнале регулировщика или светофора, а также пешеходам, передвигающимся на средствах персональной мобильности, — на велосипедных дорожках, когда пешеходы с учетом положений части второй подпункта 17.2 пункта 17 настоящих Правил имеют преимущество;<br>
			9.9.1. Уступать дорогу велосипедистам на нерегулируемых пешеходных переходах, велосипедных переездах и регулируемых пешеходных переходах, велосипедных переездах при одновременном для водителей и велосипедистов разрешающем сигнале регулировщика или светофора;<br>
			9.10. Покидать свое место или оставлять транспортное средство только в случае, если приняты меры, исключающие самопроизвольное движение транспортного средства;<br>
			9.11. При передаче управления механическим транспортным средством другому лицу убедиться в наличии у него при себе водительского удостоверения (кроме случая обучения управлению механическим транспортным средством);<br>
			9.12. Предоставлять транспортное средство для освобождения проезжей части дороги от транспортных средств, поврежденных при дорожно-транспортном происшествии, а также доставлять на управляемом транспортном средстве*:
		</h5>
		<h5><li>лиц, нуждающихся в срочной медицинской помощи, в ближайшую организацию здравоохранения по требованию работников правоохранительных органов и организаций здравоохранения;</li></h5>
		<h5><li>работников организаций здравоохранения для проезда к месту нахождения больного, жизнь которого находится под угрозой;</li></h5>
		<h5><li>работников правоохранительных органов для выполнения неотложных служебных обязанностей, связанных с преследованием лиц, подозреваемых в совершении преступлений, при принятии указанными работниками надлежащих мер по обеспечению безопасности водителя и пассажиров транспортного средства.</li></h5>
		<h5>________________</h5>
		<h5>* Данное требование не распространяется на транспортные средства, принадлежащие дипломатическим представительствам, консульским учреждениям, международным организациям и гражданам иностранных государств, пользующимся в соответствии с международными договорами Республики Беларусь дипломатическим иммунитетом.</h5>
		<h5>Лицо, воспользовавшееся транспортным средством, должно по требованию водителя выдать ему соответствующую справку или сделать запись в путевом листе с указанием продолжительности поездки, пройденного расстояния, своей фамилии, должности, номера служебного удостоверения, наименования соответствующей организации. Расходы, связанные с предоставлением транспортного средства, по требованию владельца транспортного средства возмещаются в порядке, установленном законодательством;</h5>
		<h5>9.13. Обучать управлению механическим транспортным средством в индивидуальном порядке только на площадках или автодромах, закрытых для дорожного движения, при наличии у него водительского удостоверения и водительского стажа не менее двух лет.</h5>
	</div>
	<div>
		<h5>10. Водителю запрещается:</h5>
		<h5>
			10.1. Управлять транспортным средством в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ, а также потреблять алкогольные, слабоалкогольные напитки, пиво, наркотические средства, психотропные вещества, их аналоги, токсические или другие одурманивающие вещества после подачи сотрудником органов внутренних дел требования об остановке транспортного средства до прохождения в установленном порядке проверки (освидетельствования) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ. В этих случаях сотрудники ГАИ вправе производить задержание и принудительную отбуксировку транспортного средства при отсутствии иной правомерной возможности доставить транспортное средство к месту хранения;<br>
			10.2. Управлять транспортным средством в болезненном или утомленном состоянии, ставящем под угрозу безопасность дорожного движения, под воздействием лекарственных средств, снижающих внимание и быстроту реакции;<br>
			10.3. Участвовать в дорожном движении на транспортном средстве, конструкция и техническое состояние которого не отвечают требованиям технических регламентов Таможенного союза и Евразийского экономического союза, а также требованиям, установленным настоящими Правилами, в отношении которого не выдано разрешение на его допуск к участию в дорожном движении, с загрязнениями (наслоениями), ограничивающими обзорность дороги и не позволяющими различать днем в ясную погоду информацию на регистрационном знаке (временном номерном знаке) с расстояния 40 метров и менее;<br>
			10.4. Пользоваться во время движения транспортного средства аппаратом радио- и телефонной связи, иными не предусмотренными конструкцией транспортного средства устройствами, если для этого необходимо держать их в руке либо воздействовать на них рукой;<br>
			10.5. Двигаться на тяжеловесном и (или) крупногабаритном транспортном средстве:
		</h5>
		<h5><li>без специального разрешения на проезд тяжеловесных и (или) крупногабаритных транспортных средств по автомобильным дорогам общего пользования Республики Беларусь*;</li></h5>
		<h5><li>с нарушением маршрута и условий движения, указанных в специальном разрешении на проезд тяжеловесных и (или) крупногабаритных транспортных средств по автомобильным дорогам общего пользования Республики Беларусь;</li></h5>
		<h5>________________</h5>
		<h5>* Данное требование не распространяется на тяжеловесное и (или) крупногабаритное транспортное средство, въезжающее (въехавшее) на территорию Республики Беларусь через таможенную границу Евразийского экономического союза в Республике Беларусь и превышающее допустимую общую массу и (или) допустимую осевую массу (сумму осевых масс) до 10 процентов включительно, или в иных случаях, предусмотренных законодательством.</p></h5>
		<h5>
			10.6. двигаться на транспортном средстве на гусеничном ходу или с металлическими шипами (кроме ошипованных шин) по дороге общего пользования с усовершенствованным покрытием;<br>
			10.7. двигаться на мотоцикле, мопеде, велосипеде на одном колесе, а также двигаться на мотоцикле, мопеде, велосипеде, не держась за руль обеими руками, за исключением случаев подачи сигнала рукой, предусмотренных в пункте 56 настоящих Правил, или не держа ноги на педалях (подножках);<br>
			10.8. обучать управлению механическими транспортными средствами на участках улиц и дорог, где это запрещено. Перечень участков улиц и дорог, где запрещено обучение управлению механическими транспортными средствами, определяется Министерством внутренних дел;<br>
			10.9. перевозить на мопеде, мотоцикле (кроме бокового прицепа к мотоциклу) пассажира, заведомо для водителя находящегося в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ.
		</h5>
	</div>
	<div>
		<h5>11. Владельцу транспортного средства, самоходной машины либо лицу, имеющему право на управление транспортным средством, самоходной машиной, запрещается передавать управление транспортным средством, самоходной машиной другому лицу:</h5>
		<h5>
			11.1. не имеющему при себе водительского удостоверения, предоставляющего право управления данной категорией транспортного средства, самоходной машины, за исключением случаев обучения управлению транспортным средством, самоходной машиной или сдачи квалификационного практического экзамена на право управления механическим транспортным средством, самоходной машиной;<br>
			11.2. не убедившись, что лицо, которому передается управление транспортным средством, самоходной машиной, не находится в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ.
		</h5>
	</div>
	<div>
		<h5>12. Водитель механического транспортного средства обязан иметь при себе и передавать для проверки:</h5>
		<h5>
			12.1. Cотрудникам ГАИ:<br>
			12.1.1. Водительское удостоверение, соответствующее требованиям Конвенции о дорожном движении, подписанной в г. Вене 8 ноября 1968 года, а в случае несоответствия ее требованиям — национальное водительское удостоверение, составленное на одном из государственных языков Республики Беларусь, либо национальное водительское удостоверение с заверенным переводом на один из государственных языков Республики Беларусь, либо водительское удостоверение образца Министерства внутренних дел СССР, либо биометрический документ, удостоверяющий личность (идентификационная карта гражданина Республики Беларусь, биометрический вид на жительство в Республике Беларусь иностранного гражданина, биометрический вид на жительство в Республике Беларусь лица без гражданства), за исключением водителей колесных тракторов и самоходных машин;<br>
			12.1.2. Свидетельство о регистрации (технический паспорт, технический талон) механического транспортного средства, прицепа (прицепов) к нему, а в отношении незарегистрированного транспортного средства — документ, подтверждающий законность его приобретения;<br>
			12.1.3. Документ, подтверждающий заключение договора обязательного страхования гражданской ответственности владельца транспортного средства (договор внутреннего страхования, либо договор комплексного внутреннего страхования, либо договор пограничного страхования, либо договор страхования «Зеленая карта», либо договор международного страхования, действительный на территории Республики Беларусь), за исключением случаев заключения договора внутреннего страхования в электронном виде;<br>
			12.1.4. Документы, подтверждающие правомерность установки опознавательного знака «Инвалид» при его наличии на транспортном средстве, за исключением иностранных граждан и лиц без гражданства;<br>
			12.2. Должностным лицам, указанным в части третьей подпункта 9.1 пункта 9 настоящих Правил, — документ, удостоверяющий его личность, или водительское удостоверение, а должностным лицам Транспортной инспекции Министерства транспорта и коммуникаций при осуществлении ими возложенных на указанную инспекцию функций также документ, указанный в подпункте 12.1.2 настоящего пункта.<br>
		</h5>
	</div>
	<div>
		<h5>
			13. Водители механических транспортных средств, эксплуатируемых юридическими лицами и индивидуальными предпринимателями, также обязаны иметь при себе и передавать для проверки сотрудникам ГАИ, должностным лицам Транспортной инспекции Министерства транспорта и коммуникаций транспортные и иные документы, предусмотренные законодательными актами.<br>
			Другие должностные лица имеют право проверки документов у водителей механических транспортных средств только в случаях, предусмотренных законодательными актами для осуществления функций, возложенных на соответствующие государственные органы.
		</h5>
	</div>
	<div><h5>14. Исключен.</h5></div>
	<div>
		<h5>15. Водитель механического транспортного средства, оборудованного тахографом, обязан представлять по требованию сотрудников ГАИ, должностных лиц Транспортной инспекции Министерства транспорта и коммуникаций:</h5>
		<h5>
			15.1. при аналоговом тахографе — регистрационные листки (тахограммы);<br>
			15.2. при цифровом тахографе — карточку водителя, распечатки с тахографа, регистрационные листки (тахограммы), предоставить доступ к тахографу;<br>
		</h5>
	</div>
</div>
<div id="section4">
	<h2 style="margin-top: 30px">ГЛАВА 4</h2>
	<h2 style="margin-top: 20px">ПРАВА И ОБЯЗАННОСТИ ПЕШЕХОДОВ</h2>
	<div>
		<h5>16. Пешеход имеет право:</h5>
		<h5>
			16.1. передвигаться по дорогам в соответствии с настоящими Правилами;<br>
			16.2. на преимущественное пересечение проезжей части дороги по нерегулируемым пешеходному переходу, велосипедному переезду (в случае движения на средствах персональной мобильности), а также по регулируемым пешеходному переходу, велосипедному переезду (в случае движения на средствах персональной мобильности) при разрешающем сигнале регулировщика или светофора.
		</h5>
	</div>
	<div>
		<h5>17. Пешеход обязан:</h5>
		<h5>
			17.1. двигаться по тротуару, пешеходной дорожке, а при их отсутствии — по велосипедной дорожке, не создавая препятствия для движения велосипедистов и лиц, передвигающихся на средствах персональной мобильности, либо по обочине.
			В случае отсутствия указанных элементов дороги или невозможности движения пешеходов по ним допускается движение пешехода по краю ее проезжей части навстречу движению транспортных средств.x
			При движении по краю проезжей части дороги или обочине в темное время суток пешеход должен обозначить себя световозвращающим элементом (элементами). Световозвращающие характеристики данных элементов устанавливаются обязательными для соблюдения техническими нормативными правовыми актами;<br>
			17.2. переходить (пересекать) проезжую часть дороги по подземному, надземному, наземному пешеходным переходам, а при их отсутствии в пределах видимости, убедившись, что выход на проезжую часть дороги безопасен, — на перекрестке по линии тротуаров или обочин.
			Пересечение проезжей части дороги на средстве персональной мобильности должно осуществляться по велосипедному переезду или велосипедной дорожке с соблюдением требований, предусмотренных в пункте 150 настоящих Правил для движения велосипедистов, а в случае отсутствия велосипедного переезда или велосипедной дорожки — в местах, предусмотренных для пешеходов, с соблюдением требований, указанных в части первой настоящего подпункта и подпункте 17.3 настоящего пункта;<br>
			17.2.1. при передвижении на роликовых коньках, лыжах, другом спортивном инвентаре, средствах персональной мобильности пересекать проезжую часть дороги со скоростью идущего шагом пешехода, убедившись, что выход (выезд) на проезжую часть дороги безопасен;<br>
			17.3. при отсутствии в пределах видимости пешехода подземного, надземного, наземного пешеходных переходов и перекрестка, а в случае передвижения на средствах персональной мобильности — также велосипедного переезда переходить (пересекать) проезжую часть дороги по кратчайшей траектории на участке, где дорога хорошо просматривается в обе стороны, убедившись, что выход на проезжую часть дороги безопасен и своими действиями пешеход не создаст препятствия для движения транспортных средств.
			При пересечении проезжей части дороги вне подземного, надземного, наземного пешеходных переходов и перекрестка, а в случае передвижения на средствах персональной мобильности — также велосипедного переезда в темное время суток пешеходу рекомендуется обозначить себя световозвращающим элементом (элементами);<br>
			17.4. при использовании средств персональной мобильности двигаться по велосипедной дорожке, а при ее отсутствии — по тротуару, пешеходной дорожке либо обочине, не создавая препятствий для движения других пешеходов.<br>
			Средство персональной мобильности должно иметь исправные тормозную систему и рулевое управление (при наличии).
			При движении на средстве персональной мобильности в темное время суток и (или) при недостаточной видимости дороги пешеход должен обозначить себя световозвращающим элементом (элементами), а на средстве персональной мобильности должна быть установлена и включена фара (фонарь), позволяющая своевременно обнаружить препятствие для дорожного движения.
			При движении на средстве персональной мобильности пешеходу рекомендуется использовать защитный шлем;
			17.5. по требованию сотрудника ГАИ пройти в установленном порядке проверку (освидетельствование) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ.<br>
		</h5>
	</div>
	<div>
		<h5>18. Пешеходу запрещается:</h5>
		<h5>
			18.1. двигаться по краю проезжей части дороги при наличии тротуара, пешеходной или велосипедной дорожки, обочины, по которым возможно движение пешеходов, за исключением случаев, указанных в пунктах 21 и 135 настоящих Правил;<br>
			18.2. задерживаться и останавливаться на проезжей части дороги, в том числе на линии горизонтальной дорожной разметки, разделяющей встречные и попутные потоки транспортных средств, за исключением остановки на островках безопасности;<br>
			18.3. переходить (пересекать) проезжую часть вне подземного, надземного, наземного пешеходных переходов на участке дороги:<br>
			18.3.1. с разделительной зоной, разделительной полосой;<br>
			18.3.2. с общим числом полос движения шесть и более;<br>
			18.3.3. где установлены дорожные ограждения;<br>
			18.4. выходить на проезжую часть дороги из-за стоящего транспортного средства или иного объекта, ограничивающего обзорность дороги, не убедившись в отсутствии приближающихся транспортных средств;<br>
			18.5. передвигаться на средствах персональной мобильности:<br>
			18.5.1. со скоростью более 25 км/ч;<br>
			18.5.2. в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ, а также потреблять алкогольные, слабоалкогольные напитки, пиво, наркотические средства, психотропные вещества, их аналоги, токсические или другие одурманивающие вещества после подачи сотрудником органов внутренних дел требования об остановке до прохождения в установленном порядке проверки (освидетельствования) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;<br>
			18.5.3. перевозя при этом других лиц вне специально оборудованных мест для сидения, предусмотренных конструкцией средства персональной мобильности;<br>
			18.5.4. не держась за руль (при его наличии);<br>
			18.5.5. в возрасте до четырнадцати лет (кроме пешеходных и жилых зон);<br>
			18.6. при выходе (выезде) на проезжую часть дороги и движении по ней совершать действия, угрожающие безопасности дорожного движения.
		</h5>
	</div>
	<div>
		<h5>19. В темное время суток и (или) при недостаточной видимости дороги в случае движения по обочине или по краю проезжей части дороги пешеход, ведущий велосипед, мопед, мотоцикл без бокового прицепа, обозначенный габаритными огнями, сигнальными фонарями или световозвращателями (световозвращающими лентами), должен двигаться по ходу движения транспортных средств.</h5>
		<h5>20. При приближении транспортного средства с включенными маячками синего или синего и красного цветов пешеходу запрещается переходить (пересекать) проезжую часть дороги, а пешеход, находящийся на проезжей части дороги, должен покинуть ее, соблюдая меры предосторожности.</h5>
		<h5>21. Движение организованной пешеходной колонны по проезжей части дороги разрешается только по направлению движения транспортных средств по правой стороне не более чем по четыре человека в ряд. В светлое время суток впереди и сзади с левой стороны этой колонны должны быть сопровождающие с флажками красного цвета, а в темное время суток и (или) при недостаточной видимости дороги впереди — сопровождающие с фонарем, излучающим белый свет, и сзади — излучающим красный свет.</h5>
		<h5>22. Группы детей разрешается водить только по тротуарам, пешеходным и велосипедным дорожкам, а при их отсутствии — по обочинам навстречу движению транспортных средств и только в светлое время суток. При этом их передвижение осуществляется колонной не более чем по двое детей в ряд в сопровождении совершеннолетних из расчета не менее одного сопровождающего на двадцать детей.</h5>
	</div>
</div>
<div id="section5">
	<h2 style="margin-top: 30px">ГЛАВА 5</h2>
	<h2 style="margin-top: 20px">ОБЯЗАННОСТИ ПАССАЖИРОВ</h2>
	<div>
		<h5>23. Пассажир обязан:</h5>
		<h5>
			23.1. осуществлять посадку (высадку) только после полной остановки транспортного средства с посадочной площадки, а в случае ее отсутствия — с тротуара или обочины;<br>
			23.2. быть пристегнутым при движении в механическом транспортном средстве, оборудованном ремнями безопасности, кроме случаев, указанных в абзацах третьем и четвертом части второй подпункта 9.5 пункта 9 настоящих Правил, а при поездке на мотоцикле, мопеде — быть в застегнутом мотошлеме;<br>
			23.3. соблюдать меры безопасности, предусмотренные конструкцией транспортного средства и правилами перевозки пассажиров на соответствующем виде транспортного средства;<br>
			23.4. по требованию сотрудника ГАИ пройти в установленном порядке проверку (освидетельствование) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ.<br>
		</h5>
	</div>
	<div>
		<h5>24. Пассажиру запрещается:</h5>
		<h5>
			24.1. отвлекать водителя от управления транспортным средством во время его движения и (или) мешать водителю в управлении транспортным средством;<br>
			24.2. препятствовать закрытию дверей транспортного средства, а во время его движения высовываться в оконные проемы, открывать двери транспортного средства;<br>
			24.3. при движении на грузовом автомобиле с бортовой платформой стоять, сидеть на его бортах или на грузе, находящемся выше бортов;<br>
			24.4. передвигаться на мопеде, мотоцикле (кроме бокового прицепа к мотоциклу) в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ.<br>
		</h5>
	</div>
</div>
<div id="section6">
	<h2 style="margin-top: 30px">ГЛАВА 6</h2>
	<h2 style="margin-top: 20px">ПРАВА И ОБЯЗАННОСТИ ВОДИТЕЛЕЙ И ДРУГИХ ЛИЦ В ОСОБЫХ СЛУЧАЯХ</h2>
	<div>
		<h5>25. Водители транспортных средств оперативного назначения при условии обеспечения безопасности дорожного движения могут отступать:</h5>
		<h5>
			<li>с включенными маячками синего или синего и красного цветов от требований светофоров, дорожных знаков и дорожной разметки, а также подпункта 9.8 пункта 9, подпункта 10.4 пункта 10, главы 9 (кроме пунктов 56 и 57), глав 10–15, 17–19 настоящих Правил;</li><br>
			<li>без включения маячков синего или синего и красного цветов от требований подпункта 10.4 пункта 10, пункта 124, главы 19 настоящих Правил.</li><br>
		</h5>
		<h5>Этим же правом пользуются водители транспортных средств, сопровождаемых транспортными средствами оперативного назначения с включенными маячками синего или синего и красного цветов.</h5>
		<h5>Права и обязанности водителей и других лиц при осуществлении государственной охраны определяются настоящими Правилами с учетом особенностей, предусмотренных законодательными актами в сфере государственной охраны.</h5>
	</div>
	<h5>
		26. При приближении транспортного средства оперативного назначения с включенным маячком синего цвета водители независимо от направления их движения должны уступить дорогу и обеспечить беспрепятственный проезд указанному транспортному средству оперативного назначения, а в случае его движения в организованной транспортной колонне — и другим транспортным средствам, движущимся в этой колонне.<br>
		При приближении транспортного средства оперативного назначения с включенными маячками синего и красного цветов водители попутных, а при отсутствии разделительной полосы также водители и встречных транспортных средств должны остановиться на обочине, а при ее отсутствии — занять крайнее правое положение в правой полосе движения и остановиться.
	</h5>
	<h5>Начинать движение разрешается после проезда транспортного средства оперативного назначения с включенными маячками синего и красного цветов. При движении организованной транспортной колонны в сопровождении транспортного средства оперативного назначения с включенными маячками синего и красного цветов начинать движение разрешается только после проезда замыкающего указанную колонну транспортного средства оперативного назначения с включенным маячком синего цвета (транспортного средства с опознавательным знаком «Колонна»).</h5>
	<h5>27. Водителям запрещается выполнять обгон и опережение транспортных средств оперативного назначения с включенными маячками синего или синего и красного цветов, двигаться по соседним полосам движения с их скоростью движения, а также занимать место в организованной транспортной колонне или пересекать ее.</h5>
	<div>
		<h5>
			28. Приближаясь к стоящему транспортному средству оперативного назначения с включенным:<br>
			28.1. маячком синего цвета, водитель должен снизить скорость движения, чтобы иметь возможность немедленно остановиться в случае необходимости;<br>
			28.2. маячком красного цвета, водитель должен остановиться, не доезжая до транспортного средства оперативного назначения. Продолжить движение можно после разрешения регулировщика или выключения маячка красного цвета.
		</h5>
	</div>
	<h5>29. Для привлечения внимания участников дорожного движения водителями транспортных средств оперативного назначения может подаваться специальный звуковой сигнал.</h5>
	<h5>
		30. Водители транспортных средств дорожно-эксплуатационной службы, оборудованных маячком оранжевого цвета, при его включении в ходе выполнения работ на дороге могут отступать от требований дорожных знаков и дорожной разметки, а также подпункта 9.8 пункта 9, пунктов 78–80, 82 и подпунктов 131.1–131.5 пункта 131 настоящих Правил при условии обеспечения безопасности дорожного движения. Участники дорожного движения не должны препятствовать их работе.<br>
		Маячок оранжевого цвета, установленный на других транспортных средствах и самоходных машинах, не дает преимущества в движении и служит для привлечения внимания и предупреждения участников дорожного движения о возможной опасности.
	</h5>
	<div>
		<h5>31. Водитель, являющийся участником дорожно-транспортного происшествия, обязан:</h5>
		<h5>
			31.1. немедленно остановиться и не принимать мер по изменению положения транспортного средства, при участии которого совершено дорожно-транспортное происшествие, включить аварийную световую сигнализацию и выставить знак аварийной остановки с соблюдением положений главы 8 настоящих Правил, оставаться на месте дорожно-транспортного происшествия по возможности вне проезжей части дороги;<br>
			31.2. принять меры по оказанию необходимой помощи пострадавшему (пострадавшим), вызвать скорую медицинскую помощь, а если это невозможно, принять меры по доставке пострадавшего (пострадавших) в ближайшую организацию здравоохранения на одном или нескольких попутных транспортных средствах (при их отсутствии доставить пострадавшего (пострадавших) на транспортном средстве, при участии которого совершено дорожно-транспортное происшествие).<br>
			Водитель, доставивший пострадавшего (пострадавших) в организацию здравоохранения, обязан сообщить в этой организации свою фамилию, регистрационный знак (временный номерной знак) транспортного средства, предъявив водительское удостоверение или документ, удостоверяющий личность, и свидетельство о регистрации транспортного средства либо документ, подтверждающий законность его приобретения, и возвратиться к месту дорожно-транспортного происшествия;<br>
			31.3. в случае необходимости доставки пострадавшего (пострадавших) в организацию здравоохранения на транспортном средстве, при участии которого совершено дорожно-транспортное происшествие, предварительно зафиксировать в присутствии очевидцев положение транспортного средства, следы и предметы, относящиеся к дорожно-транспортному происшествию;<br>
			31.4. записать фамилии и адреса очевидцев дорожно-транспортного происшествия, сообщить о случившемся в милицию и ожидать прибытия сотрудников ГАИ, за исключением случая, предусмотренного частью второй настоящего подпункта.<br>
			Водитель в случае дорожно-транспортного происшествия вправе не сообщать о нем в ГАИ при наличии одновременно следующих обстоятельств:
		</h5>
		<h5>
			<li>в результате дорожно-транспортного происшествия вред причинен только транспортным средствам, участвовавшим в дорожно-транспортном происшествии;</li>
			<li>дорожно-транспортное происшествие произошло с участием двух транспортных средств, в том числе в случае остановки, вынужденной остановки, стоянки одного из них;</li>
			<li>лица, управлявшие транспортными средствами, имеют право на управление транспортным средством соответствующей категории;</li>
			<li>в отношении транспортных средств имеются действующие договоры обязательного страхования гражданской ответственности их владельцев;</li>
			<li>обстоятельства причинения вреда в связи с повреждением транспортного средства в результате дорожно-транспортного происшествия, характер и перечень видимых повреждений транспортных средств не вызывают разногласий у водителей транспортных средств, участвовавших в дорожно-транспортном происшествии, и зафиксированы в извещении о дорожно-транспортном происшествии, бланк которого заполнен этими водителями транспортных средств, в соответствии с Положением о страховой деятельности в Республике Беларусь, утвержденным Указом Президента Республики Беларусь от 25 августа 2006 г. № 530;</li>
			<li>водители транспортных средств, участвовавших в дорожно-транспортном происшествии, не предъявляют претензий к состоянию друг друга (данные лица не находятся в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ, в результате дорожно-транспортного происшествия не причинен вред жизни или здоровью);</li>
			<li>вред, причиненный каждому транспортному средству, участвовавшему в дорожно-транспортном происшествии, оценивается водителями данных транспортных средств в размере до 800 евро по установленному Национальным банком официальному курсу белорусского рубля по отношению к евро.</li>
		</h5>
		<h5>Действие части второй настоящего подпункта распространяется также на случаи остановки, вынужденной остановки, стоянки одного из участвующих в дорожно-транспортном происшествии транспортных средств и присутствия его владельца на месте происшествия. При этом в случае стоянки транспортного средства для владельца транспортного средства наличие права на управление транспортным средством соответствующей категории необязательно;</h5>
		<h5>31.5. до прибытия сотрудников ГАИ принять все возможные меры по сохранению следов и предметов, относящихся к дорожно-транспортному происшествию, их ограждению и организации объезда места дорожно-транспортного происшествия.</h5>
	</div>
	<div>
		<h5>32. Участнику дорожного движения, являющемуся участником дорожно-транспортного происшествия, запрещается:</h5>
		<h5>
			32.1. оставлять место дорожно-транспортного происшествия, перемещать транспортное средство и предметы, имеющие отношение к дорожно-транспортному происшествию, кроме случаев, указанных в подпункте 31.3 и части второй подпункта 31.4 пункта 31 настоящих Правил;<br>
			32.2. потреблять алкогольные, слабоалкогольные напитки, пиво, наркотические средства, психотропные вещества, их аналоги, токсические или другие одурманивающие вещества до прохождения в установленном порядке проверки (освидетельствования) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;<br>
			32.3. вскрывать тахограф без разрешения сотрудника ГАИ.
		</h5>
	</div>
	<div>
		<h5>33. Участники дорожно-транспортного происшествия, не указанные в пункте 31 настоящих Правил, и его очевидцы обязаны:</h5>
		<h5>
			33.1. оказать возможную помощь пострадавшему (пострадавшим);<br>
			33.2. записать фамилии и адреса других очевидцев дорожно-транспортного происшествия, а также регистрационные знаки (временные номерные знаки) транспортных средств, находившихся при совершении дорожно-транспортного происшествия;<br>
			33.3. сообщить в милицию о дорожно-транспортном происшествии;<br>
			33.4. находиться по возможности на месте дорожно-транспортного происшествия вне проезжей части дороги до прибытия сотрудников ГАИ, после чего сообщить им информацию о дорожно-транспортном происшествии, очевидцами которого они стали.
		</h5>
	</div>
	<div>
		<h5>34. В случае обнаружения или создания на дороге препятствия, создающего опасность для движения, участники дорожного движения обязаны:</h5>
		<h5>
			34.1. принять меры по его устранению;<br>
			34.2. при невозможности устранения препятствия обозначить его в соответствии с настоящими Правилами или иным способом, обеспечивающим безопасность дорожного движения, после чего сообщить о препятствии в милицию либо дорожно-эксплуатационную или коммунальную службу.
		</h5>
	</div>
</div>
<div id="section7">
	<h2 style="margin-top: 30px">ГЛАВА 7</h2>
	<h2 style="margin-top: 20px">СИГНАЛЫ РЕГУЛИРОВЩИКА И СВЕТОФОРОВ</h2>
	<h5>
		35. Требование регулировщика об остановке транспортного средства выражается путем подачи сигнала жезлом или жестом руки, а также с помощью громкоговорящего устройства. Для дополнительного привлечения внимания участников дорожного движения регулировщиком может подаваться сигнал свистком. Водитель должен остановиться в указанном ему регулировщиком месте.<br>
		Сигналы регулировщика обязательны для исполнения участниками дорожного движения, даже если они не соответствуют требованиям сигналов светофоров и других технических средств организации дорожного движения.
	</h5>
	<h5>Действия регулировщика должны обеспечивать безопасность участников дорожного движения.</h5>
	<div>
		<h5>36. Сигналы регулировщика имеют следующие значения:</h5>
		<h5>
			36.1. руки вытянуты в стороны или опущены:<br>
			36.1.1. со стороны левого и правого бока разрешено: трамваю — движение прямо, другим транспортным средствам — движение прямо и направо, пешеходам — переходить проезжую часть дороги;<br>
			36.1.2. со стороны груди и спины: движение всех транспортных средств и пешеходов запрещено;<br>
			36.2. правая рука вытянута вперед:<br>
			36.2.1. со стороны левого бока разрешено: трамваю — движение налево, другим транспортным средствам — движение во всех направлениях;<br>
			36.2.2. со стороны груди: всем транспортным средствам разрешено движение только направо;<br>
			36.2.3. со стороны правого бока и спины: движение всех транспортных средств запрещено, пешеходам разрешено переходить проезжую часть дороги за спиной регулировщика;<br>
			36.3. рука поднята вверх: движение всех транспортных средств и пешеходов запрещено во всех направлениях, кроме случаев, предусмотренных подпунктами 50.1 и 50.2 пункта 50 настоящих Правил.
		</h5>
	</div>
	<h5>37. Регулировщик может подавать понятные участникам дорожного движения сигналы, не указанные в пункте 36 настоящих Правил.</h5>
	<h5>
		38. Светофоры относятся к техническим средствам организации дорожного движения и применяются для регулирования очередности пропуска транспортных средств и пешеходов, а также для обозначения опасных участков дорог. Светофоры подразделяются на транспортные и пешеходные.<br>
		Со светофорами может применяться дополнительное оборудование: экраны, информационные секции, информационные и обозначающие таблички, цифровые табло, кнопки включения разрешающего сигнала для пешеходов (табло вызовные пешеходные). В светофорах применяются световые сигналы зеленого, желтого, красного и бело-лунного цветов.
	</h5>
	<h5>В зависимости от назначения сигналы светофоров могут быть круглыми, в виде стрелки (стрелок), силуэта пешехода, велосипеда, трамвая и Х-образные.</h5>
	<h5>Светофоры с круглыми сигналами могут иметь одну или две дополнительные секции с сигналами в виде зеленой стрелки (стрелок), которые располагаются на уровне зеленого круглого сигнала.</h5>
	<h5>Светофоры с Х-образным красным сигналом, желтым сигналом в виде стрелки (при его наличии), направленной вправо, и зеленым сигналом в виде стрелки, направленной вниз, называются реверсивными и предназначены для регулирования движения транспортных средств по полосам проезжей части дороги, по которым направление движения может изменяться на противоположное.</h5>
	<div>
		<h5>39. Круглые сигналы светофора имеют следующие значения:</h5>
		<h5>
			39.1. зеленый сигнал разрешает движение;<br>
			39.2. зеленый мигающий сигнал разрешает движение и информирует, что время его действия истекает и вскоре будет включен запрещающий сигнал;<br>
			39.3. желтый сигнал предупреждает о предстоящей смене сигналов и запрещает движение, кроме случаев, указанных в подпунктах 50.1, 50.2 пункта 50 и пункте 106 настоящих Правил;<br>
			39.4. желтый мигающий сигнал разрешает движение и информирует о наличии нерегулируемого перекрестка или пешеходного перехода, предупреждает о возможной опасности для движения;<br>
			39.5. красный сигнал, в том числе мигающий (два мигающих красных сигнала), запрещает движение;<br>
			39.6. сочетание красного и желтого сигналов запрещает движение и информирует о предстоящем включении зеленого сигнала.
		</h5>
	</div>
	<h5>
		40. Сигналы светофора, выполненные в виде стрелок красного, желтого и зеленого цветов, имеют то же значение, что и круглые сигналы соответствующего цвета. Движение осуществляется при включении разрешающего сигнала светофора только по направлениям, указываемым стрелками. Вместо красных, желтых и зеленых стрелок в том же значении могут использоваться круглые красные, желтые и зеленые сигналы с нанесенными на них черными контурными стрелками.<br>
		При этом стрелка, разрешающая поворот налево, разрешает и разворот, если это не запрещено соответствующим дорожным знаком. Такое же значение имеет зеленая стрелка в дополнительной секции. Выключенный сигнал дополнительной секции означает запрещение движения в направлении, регулируемом этой секцией.
	</h5>
	<h5>41. Если на основной зеленый сигнал светофора нанесена черная контурная стрелка (стрелки), то она информирует водителей о наличии дополнительной секции светофора и указывает иные, чем сигнал дополнительной секции, разрешенные направления движения.</h5>
	<div>
		<h5>
			42. Если сигнал светофора выполнен в виде зеленого или красного силуэта пешехода, то его действие распространяется только на пешеходов. Зеленый сигнал разрешает, а красный запрещает движение пешеходов. При этом:<br>
			42.1. мигающий зеленый сигнал пешеходного светофора запрещает выход пешеходов на проезжую часть дороги с тротуара или островка безопасности, но разрешает пешеходам, находящимся на проезжей части, продолжить движение в том же направлении до островка безопасности (при его наличии) или завершить переход проезжей части дороги (при отсутствии островка безопасности);<br>
			42.2. если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги, на которой отсутствует островок безопасности, то пешеход должен завершить переход проезжей части дороги;<br>
			42.3. если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги до островка безопасности, то пешеход должен продолжить движение в том же направлении до островка безопасности и остановиться на нем;<br>
			42.4. если красный сигнал пешеходного светофора застал пешехода на островке безопасности, то пешеход должен оставаться на нем до включения разрешающего сигнала светофора;<br>
			42.5. если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги после островка безопасности, то пешеход должен завершить переход проезжей части дороги;<br>
			42.6. для информирования пешеходов о том, что в период разрешенного для них движения по пешеходному переходу через переход могут двигаться транспортные средства, выполняющие на перекрестке правый и (или) левый поворот, разрешающий сигнал пешеходного светофора может быть дополнен по периметру кольцом желтого цвета;<br>
			42.7. для дополнительного информирования пешеходов о возможности пересечения проезжей части дороги световые сигналы светофоров могут быть дополнены звуковым сигналом;<br>
			42.8. для информирования пешеходов о времени ожидания разрешающего сигнала и (или) о времени, оставшемся для безопасного завершения перехода проезжей части дороги, совместно с пешеходными светофорами могут применяться цифровые табло;<br>
			42.9. при отсутствии на пешеходном переходе пешеходного светофора пешеходы должны руководствоваться сигналами транспортного светофора.<br>
		</h5>
	</div>
	<h5>
		43. Если на сигналы светофора нанесены силуэты велосипеда либо под транспортным светофором установлена обозначающая табличка белого цвета с черным силуэтом велосипеда, действие сигналов такого светофора распространяется только на велосипедистов. Значения сигналов светофора для них аналогичны значению круглых сигналов, указанных в пункте 39 настоящих Правил.<br>
		Если под пешеходным светофором установлена обозначающая табличка белого цвета с черным силуэтом велосипеда, действие сигналов такого светофора распространяется и на велосипедистов.<br>
		При пересечении проезжей части по регулируемому пешеходному переходу или велосипедному переезду и отсутствии светофора, регулирующего движение велосипедистов, водители велосипедов должны руководствоваться сигналами пешеходного светофора, а при его отсутствии — сигналами транспортного светофора.
	</h5>
	<h5>
		44. Красный сигнал реверсивного светофора запрещает, а зеленый разрешает движение.<br>
		При выключенных сигналах реверсивного светофора, который расположен над полосой движения, обозначенной с обеих сторон горизонтальной дорожной разметкой 1.9, въезд на эту полосу запрещен.
	</h5>
	<h5>Основные сигналы реверсивного светофора могут быть дополнены желтым сигналом в виде стрелки, наклоненной по диагонали вниз направо, включение которой информирует о предстоящей смене сигнала и необходимости перестроиться на полосу движения справа.</h5>
	<h5>45. Для регулирования движения трамваев, а также других маршрутных транспортных средств, движущихся по выделенной для них полосе движения, могут применяться светофоры:</h5>
	<h5>
		<li>одноцветной сигнализации с четырьмя круглыми сигналами бело-лунного цвета, расположенными в виде буквы «Т», при этом движение разрешается только при включении одновременно нижнего сигнала и одного или нескольких верхних, из которых левый означает движение налево (на разворот для маршрутных транспортных средств, кроме трамвая), средний — прямо, правый — направо. Если включены только три верхних сигнала, движение запрещено;</li>
		<li>двухцветной сигнализации с вертикальным или горизонтальным расположением сигналов, один из которых выполнен в виде красного силуэта трамвая на черном фоне, а другой — в виде стрелки бело-лунного цвета на черном фоне (только для регулирования движения трамваев). Бело-лунный сигнал такого светофора разрешает движение трамваев в направлении, указываемом стрелкой, красный сигнал запрещает движение трамваев в этом направлении. Светофоры могут быть дополнены табличкой белого цвета с черным силуэтом трамвая.</li>
	</h5>
	<h5>Водители трамваев и других маршрутных транспортных средств, движущихся по выделенной для них полосе движения, должны руководствоваться сигналами светофоров, указанными в части первой настоящего пункта, в случаях применения этих светофоров совместно с иными транспортными светофорами.</h5>
	<div>
		<h5>46. Для регулирования движения на железнодорожных переездах применяются светофоры с двумя красными сигналами или одним бело-лунным и двумя красными сигналами, которые имеют следующие значения:</h5>
		<h5>
			46.1. мигающие красные сигналы запрещают движение транспортных средств, участников дорожного движения через железнодорожный переезд. Одновременно с этими сигналами должен быть включен звуковой сигнал, который дополнительно информирует о запрещении движения через железнодорожный переезд;<br>
			46.2. мигающий бело-лунный сигнал дополнительно обозначает железнодорожный переезд, информирует об исправности сигнализации и не запрещает движения транспортных средств, участников дорожного движения;<br>
			46.3. выключенные красный и бело-лунный сигналы означают, что сигнализация не работает или неисправна. В этом случае разрешается движение транспортных средств, участников дорожного движения только при отсутствии железнодорожного транспортного средства.
		</h5>
	</div>
	<h5>47. Для обозначения нерегулируемых перекрестков и пешеходных переходов могут применяться светофоры с одним или двумя мигающими желтыми сигналами.</h5>
	<div>
		<h5>48. На перекрестке при запрещающем сигнале регулировщика или светофора водители должны остановиться перед дорожным знаком «Стоп-линия» (линией горизонтальной дорожной разметки 1.12), а при ее отсутствии:</h5>
		<h5>
			48.1. перед светофором, руководствуясь пунктом 106 настоящих Правил;<br>
			48.2. перед пешеходным переходом — при отсутствии светофора;<br>
			48.3. перед ближним к водителю краем тротуара — при отсутствии светофора и пешеходного перехода;<br>
			48.4. перед краем пересекаемой проезжей части дороги — при отсутствии светофора, пешеходного перехода и тротуара.
		</h5>
	</div>
	<div>
		<h5>49. Вне перекрестка при запрещающем сигнале регулировщика или светофора (кроме реверсивного) водители должны остановиться перед дорожным знаком «Стоп-линия» (линией горизонтальной дорожной разметки 1.12), а при его отсутствии:</h5>
		<h5>
			49.1. на регулируемом пешеходном переходе — перед светофором, а при его отсутствии — перед пешеходным переходом;<br>
			49.2. перед железнодорожным переездом — в соответствии с пунктом 129 настоящих Правил;<br>
			49.3. в других местах — перед регулировщиком или светофором, не создавая препятствия и опасности для дорожного движения.
		</h5>
	</div>
	<div>
		<h5>50. При поднятии регулировщиком руки вверх или включении желтого сигнала светофора:</h5>
		<h5>
			50.1. водителям, которые не могут остановиться, не прибегая к экстренному торможению, в местах, определенных пунктами 48 и 49 настоящих Правил, разрешается дальнейшее движение;<br>
			50.2. пешеходам, находящимся на проезжей части дороги, разрешается продолжить движение в том же направлении до островка безопасности (при его наличии) или завершить переход проезжей части дороги (при отсутствии островка безопасности);<br>
			50.3. пешеходам запрещается:<br>
			50.3.1. выходить на проезжую часть дороги;<br>
			50.3.2. покидать островок безопасности.
		</h5>
	</div>
</div>
<div id="section8">
	<h2 style="margin-top: 30px">ГЛАВА 8</h2>
	<h2 style="margin-top: 20px">Глава 8. ПРИМЕНЕНИЕ АВАРИЙНОЙ СВЕТОВОЙ СИГНАЛИЗАЦИИ,<br>ЗНАКА АВАРИЙНОЙ ОСТАНОВКИ, ФОНАРЯ С МИГАЮЩИМ КРАСНЫМ СВЕТОМ</h2>
	<div>
		<h5>51. Аварийная световая сигнализация должна быть включена в случаях:</h5>
		<h5>
			51.1. дорожно-транспортного происшествия;<br>
			51.2. вынужденной остановки транспортного средства на проезжей части дороги и в местах, где остановка запрещена;<br>
			51.3. ослепления водителя светом фар;<br>
			51.4. буксировки механического транспортного средства (если не определено иное, далее — буксировка) — на буксируемом механическом транспортном средстве;<br>
			51.5. остановки, стоянки транспортного средства в темное время суток на неосвещенных участках дороги (кроме жилых зон) и (или) при недостаточной видимости дороги при неисправных габаритных и стояночных огнях;<br>
			51.6. движения на транспортном средстве с технической неисправностью, указанной в приложении 4 к настоящим Правилам, если движение не запрещено настоящими Правилами;<br>
			51.7. предупреждения участников дорожного движения об опасности для движения;<br>
			51.8. посадки (высадки) групп детей в перевозящие их автобусы — на автобусах;<br>
			51.9. приближения трамвая к зоне остановочного пункта трамвая, обозначенной дорожными знаками «Остановочный пункт трамвая», «Место остановки трамвая» и (или) горизонтальной дорожной разметкой 1.17.2, и во время нахождения его в этой зоне — на трамваях. На трамваях, не оборудованных аварийной световой сигнализацией, должен быть включен световой указатель правого поворота.<br>
		</h5>
	</div>
	<h5>52. Аварийную световую сигнализацию рекомендуется включать в случае движения транспортного средства задним ходом.</h5>
	<div>
		<h5>53. После включения аварийной световой сигнализации, а также при ее отсутствии или неисправности должен быть незамедлительно выставлен знак аварийной остановки (в темное время суток в дополнение к знаку аварийной остановки может быть выставлен фонарь с мигающим красным светом):</h5>
		<h5>
			53.1. при дорожно-транспортном происшествии;<br>
			53.2. при вынужденной остановке транспортного средства на проезжей части дороги и в местах, где остановка запрещена, за исключением прекращения движения транспортного средства в связи со скоплением остановившихся на проезжей части дороги других транспортных средств (далее — затор);<br>
			53.3. в случае остановки, стоянки транспортного средства в темное время суток на неосвещенных участках дороги (кроме жилых зон) и (или) при недостаточной видимости дороги при неисправных габаритных и стояночных огнях.<br>
		</h5>
	</div>
	<h5>54. Знак аварийной остановки и фонарь с мигающим красным светом устанавливаются на расстоянии, обеспечивающем в конкретной дорожно-транспортной обстановке своевременное предупреждение других водителей об опасности, но не менее 15 метров от транспортного средства в населенных пунктах и не менее 40 метров — вне населенных пунктов.</h5>
	<h5>55. При отсутствии или неисправности аварийной световой сигнализации на буксируемом механическом транспортном средстве или транспортном средстве, движущемся с технической неисправностью, на его задней части слева должен быть закреплен знак аварийной остановки.</h5>
</div>
