﻿@{
	ViewData["Title"] = $"Дорожные знаки";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Дорожные знаки</h1>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Описание дорожных знаков</a></p>
	<p><a href="#paragraph1" class="section">§1 Предупреждающие знаки</a></p>
	<p><a href="#paragraph2" class="section">§2 Знаки приоритета</a></p>
</div>
<div id="section1">
	<div>
		<h2 style="margin-top: 30px">ГЛАВА 1</h2>
		<h2 style="margin-top: 20px">Описание дорожных знаков</h2>
	</div>
	<h5>1. Дорожные знаки (если не определено иное, далее — знаки) изготавливаются и устанавливаются в соответствии с настоящим приложением и требованиями технических регламентов Таможенного союза и Евразийского экономического союза.</h5>
	<h5>
		2. Знаки подразделяются на:<br />

		— постоянные и временные;<br />

		— предупреждающие, знаки приоритета, запрещающие, предписывающие, информационно-указательные, знаки сервиса и знаки дополнительной информации (таблички) (если не указано иное, далее — таблички).
	</h5>
	<h5>3. Знаки на желтом фоне, за исключением дорожных знаков «Контроль установленной скорости движения транспортных средств», «Начало участка контроля средней скорости движения транспортных средств», «Конец участка контроля средней скорости движения транспортных средств», «Контроль выполнения требований Правил дорожного движения», относятся к временным и применяются как отдельно, так и в сочетании с другими временными техническими средствами организации дорожного движения в местах производства ремонтных и других работ на дороге, а также в случаях оперативного изменения в организации дорожного движения, связанного с обеспечением его безопасности или проведением специальных мероприятий.</h5>
	<h5>4. В случаях, когда значения временных и постоянных знаков противоречат друг другу, участники дорожного движения должны руководствоваться временными знаками.</h5>
</div>
<div id="paragraph1">
	<h2 style="margin-top: 20px">§1 Предупреждающие знаки</h2>
	<h5>5. Предупреждающие знаки информируют водителей о приближении к опасному участку дороги, движение по которому требует принятия мер, соответствующих дорожной обстановке, об осуществлении контроля выполнения требований настоящих Правил.</h5>
	<div>
		<h5>6. К предупреждающим знакам относятся следующие:</h5>
		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/r2ad7bOt7nw.png" class="image" />
			<h5 class="text">1.1 Железнодорожный переезд со шлагбаумом</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/IZkB6jVkRkE.png" class="image" />
			<h5 class="text">1.2 Железнодорожный переезд без шлагбаума</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/TAEb2SX72oY.png" class="image" />
			<h5 class="text">1.3.1 Однопутная железная дорога</h5>
			<h5 class="text">Описание: Переезд через железную дорогу с одним путем</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Gd14ooucQ4Y.png" class="image" />
			<h5 class="text">1.3.2 Многопутная железная дорога</h5>
			<h5 class="text">Описание: Переезд через железную дорогу с двумя и более путями</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/BI3td2CeWcE.png" class="image" />
			<h5 class="text">1.4.1 Приближение к железнодорожному переезду</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Iqn8Qhte1t4.png" class="image" />
			<h5 class="text">1.4.2 Приближение к железнодорожному переезду</h5>
			<h5 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/NobmCoOd8MQ.png" class="image" />
			<h5 class="text">1.4.3 Приближение к железнодорожному переезду</h5>
			<h5 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Mrr7hibc9t0.png" class="image" />
			<h5 class="text">1.4.4 Приближение к железнодорожному переезду</h5>
			<h5 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/ZfMo3MnisLE.png" class="image" />
			<h5 class="text">1.4.5 Приближение к железнодорожному переезду</h5>
			<h5 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/wTQqA2yqWNI.png" class="image" />
			<h5 class="text">1.4.6 Приближение к железнодорожному переезду</h5>
			<h5 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Fl4NqZLDrjM.png" class="image" />
			<h5 class="text">1.5 Пересечение с трамвайной линией</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/8AHBHqSSq28.png" class="image" />
			<h5 class="text">1.6 Конец дороги с усовершенствованным покрытием</h5>
			<h5 class="text">Описание: Переход дороги с усовершенствованным покрытием в гравийную или грунтовую дорогу</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/YmFHjnywsWE.png" class="image" />
			<h5 class="text">1.7 Пересечение с круговым движением</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/3lZwcQVaAjM.png" class="image" />
			<h5 class="text">1.8 Светофорное регулирование</h5>
			<h5 class="text">Описание: Перекресток, пешеходный переход или участок дороги, движение на которых регулируется светофором</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Udxms_6XyRA.png" class="image" />
			<h5 class="text">1.9 Разводной мост или паромная переправа</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/DUE0IjRdsuM.png" class="image" />
			<h5 class="text">1.10 Выезд на набережную</h5>
			<h5 class="text">Описание: Выезд на набережную (берег водоема)</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/uvx7ma0oeGA.png" class="image" />
			<h5 class="text">1.11.1 Опасный поворот</h5>
			<h5 class="text">Описание: Закругление дороги малого радиуса направо или с ограниченной обзорностью</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/7xqe41vkPuc.png" class="image" />
			<h5 class="text">1.11.2 Опасный поворот</h5>
			<h5 class="text">Описание: Закругление дороги малого радиуса налево или с ограниченной обзорностью</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/l_bZAQ0VUD0.png" class="image" />
			<h5 class="text">1.12.1 Опасные повороты</h5>
			<h5 class="text">Описание: Участок дороги с двумя и более опасными поворотами, расположенными один за другим (первый поворот направо). При трех и более поворотах знак применяется с табличкой 7.7, а также может применяться с табличкой 7.2.1</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Nt3UceP6K9k.png" class="image" />
			<h5 class="text">1.12.2 Опасные повороты</h5>
			<h5 class="text">Описание: Участок дороги с двумя и более опасными поворотами, расположенными один за другим (первый поворот налево). При трех и более поворотах знак применяется с табличкой 7.7, а также может применяться с табличкой 7.2.1</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/UQPX0-MO_Ec.png" class="image" />
			<h5 class="text">1.13 Крутой спуск</h5>
			<h5 class="text">Описание: Спуск, на котором действуют специальные требования Правил дорожного движения (далее — Правила), устанавливающие порядок дорожного движения на крутых спусках.Знак может устанавливаться без таблички 7.1.1 непосредственно перед началом спуска, если спуски и подъёмы следуют один за другим.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/nP1A141Vf7o.png" class="image" />
			<h5 class="text">1.14 Крутой подъем</h5>
			<h5 class="text">Описание: Подъём, на котором действуют специальные требования Правил дорожного движения, устанавливающие порядок дорожного движения на крутых подъёмах. Знак может устанавливаться без таблички 7.1.1 непосредственно перед началом подъёма, если спуски и подъёмы следуют один за другим.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/aAYHKiyoJPE.png" class="image" />
			<h5 class="text">1.15 Скользкая дорога</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/mCFbapS--Yg.png" class="image" />
			<h5 class="text">1.16.1 Искусственная неровность</h5>
			<h5 class="text">Описание: Участок дороги с установленной искусственной неровностью (искусственными неровностями) на проезжей части дороги</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/gpwy9Fv621k.png" class="image" />
			<h5 class="text">1.16.2 Неровная дорога</h5>
			<h5 class="text">Описание: Участок дороги с неровностями на проезжей части (волны, наплывы, гребенка и т.п.)</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/rnSEvm0O3Sc.png" class="image" />
			<h5 class="text">1.16.3 Неровная дорога</h5>
			<h5 class="text">Описание: Участок дороги, имеющий неплавные сопряжения с покрытием дороги в виде наплыва (бугра)</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/ArqbQyNnb2E.png" class="image" />
			<h5 class="text">1.16.4 Неровная дорога</h5>
			<h5 class="text">Описание: Участок дороги, имеющий повреждения покрытия в виде отдельных выбоин, просадок</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/EWVUJMMmQIs.png" class="image" />
			<h5 class="text">1.17 Выброс щебня</h5>
			<h5 class="text">Описание: Участок дороги с усовершенствованным покрытием, на котором возможен выброс щебня из-под колес транспортных средств</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/-foFgZj38aQ.png" class="image" />
			<h5 class="text">1.18.1 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги с обеих сторон</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/FO8HxfSiaVY.png" class="image" />
			<h5 class="text">1.18.2 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги справа</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/E6FmXzO2YKI.png" class="image" />
			<h5 class="text">1.18.3 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги слева</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/UGHIHn92B7E.png" class="image" />
			<h5 class="text">1.18.4 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги с обеих сторон</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/njRqsTPT7WY.png" class="image" />
			<h5 class="text">1.18.5 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги справа</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/PkW5H53WLcE.png" class="image" />
			<h5 class="text">1.18.6 Сужение дороги</h5>
			<h5 class="text">Описание: Сужение дороги слева</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/nU58h28Vwck.png" class="image" />
			<h5 class="text">1.19.1 Двустороннее движение</h5>
			<h5 class="text">Описание: Начало участка дороги (проезжей части дороги) со встречным движением после участка дороги с односторонним движением</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/1nA7FGDA02g.png" class="image" />
			<h5 class="text">1.19.2 Двустороннее движение</h5>
			<h5 class="text">Описание: Начало участка дороги (проезжей части дороги) со встречным движением после участка дороги с односторонним движением</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Qpwxo0_5u6k.png" class="image" />
			<h5 class="text">1.20 Впереди пешеходный переход</h5>
			<h5 class="text">Описание: Приближение к нерегулируемому пешеходному переходу, обозначенному знаками 5.16.1, 5.16.2 и (или) горизонтальной дорожной разметкой 1.14.1, 1.14.2</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/wTPfkVxfn-4.png" class="image" />
			<h5 class="text">1.21 Дети</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможно появление детей с территории детского или иного учреждения (школы, оздоровительного лагеря, больницы и т.п.), прилегающего непосредственно к дороге</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/YDhycL_ntVs.png" class="image" />
			<h5 class="text">1.22 Впереди велосипедный переезд</h5>
			<h5 class="text">Описание: Приближение к велосипедному переезду, обозначенному знаками 5.16.3, 5.16.4 и (или) горизонтальной дорожной разметкой 1.15</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/dUDJhvVvK9M.png" class="image" />
			<h5 class="text">1.23 Дорожные работы</h5>
			<h5 class="text">Описание: Участок дороги, на котором в установленном порядке выполняются ремонтные и другие работы</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/riKMPeuQCEA.png" class="image" />
			<h5 class="text">1.24 Перегон скота</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможно появление скота</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/JLH9wVBaBWw.png" class="image" />
			<h5 class="text">1.25 Дикие животные</h5>
			<h5 class="text">Описание: Участок дороги, проходящий по территории заповедников (охотничьих хозяйств, лесных массивов и т.п.), на котором возможно появление диких животных</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/gXITGdLK9V0.png" class="image" />
			<h5 class="text">1.26 Падение камней</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможны обвалы, оползни, падение камней</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/-CEJQQdow9M.png" class="image" />
			<h5 class="text">1.27 Боковой ветер</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможны сильный боковой ветер или его внезапные порывы</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/PFvC1m5XdSM.png" class="image" />
			<h5 class="text">1.28 Низколетящие самолеты</h5>
			<h5 class="text">Описание: Участок дороги вблизи аэродромов либо над которым пролетают самолеты или вертолеты на небольшой высоте</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/mbiUZs2X2Xs.png" class="image" />
			<h5 class="text">1.29 Аварийно-опасный участок</h5>
			<h5 class="text">Описание: Участок дороги, на котором часто совершаются дорожно-транспортные происшествия</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/MBa1oE2zywI.png" class="image" />
			<h5 class="text">1.30 Прочие опасности</h5>
			<h5 class="text">Описание: Опасный участок дороги, который невозможно обозначить другими предупреждающими знаками</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/b-7S4TyZAmU.png" class="image" />
			<h5 class="text">1.31.1 Направление поворота</h5>
			<h5 class="text">
				Описание: Направление<br />
				1. движения на повороте дороги малого радиуса с ограниченной обзорностью;<br />
				2. объезда препятствия для дорожного движения на ремонтируемом участке дороги;<br />
				3. объезда центрального островка на перекрестке с круговым движением;<br />
				4. движения на Т-образном перекрестке, разветвлении дорог;
			</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/97pG3Xwn0e8.png" class="image" />
			<h5 class="text">1.31.2 Направление поворота</h5>
			<h5 class="text">
				Описание: Направление<br />
				1. движения на повороте дороги малого радиуса с ограниченной обзорностью;<br />
				2. объезда препятствия для дорожного движения на ремонтируемом участке дороги;<br />
				3. движения на Т-образном перекрестке, разветвлении дорог;
			</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/97pG3Xwn0e8.png" class="image" />
			<h5 class="text">1.31.3 Направление поворота</h5>
			<h5 class="text">
				Описание: Направление<br />
				1. движения на Т-образном перекрестке, разветвлении дорог;<br />
				2. направление объезда ремонтируемого участка дороги
			</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/h0AsQxPC0Nc.png" class="image" />
			<h5 class="text">1.31.4 Направление поворота</h5>
			<h5 class="text">Описание: Направление движения на повороте дороги малого радиуса с ограниченной обзорностью;</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/S90XzjckBRI.png" class="image" />
			<h5 class="text">1.31.5 Направление поворота</h5>
			<h5 class="text">Описание: Направление движения на повороте дороги малого радиуса с ограниченной обзорностью;</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/9ssW9JHg1kw.png" class="image" />
			<h5 class="text">1.32 Опасная обочина</h5>
			<h5 class="text">Описание: Участок дороги с заниженной или разрушенной обочиной либо на котором ведутся работы по ремонту обочин</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/UFC5NudIwu0.png" class="image" />
			<h5 class="text">1.33 Гололедица</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможны снежные заносы либо ледяные или снежно-ледяные образования</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/pK_49J3Mt74.png" class="image" />
			<h5 class="text">1.34 Затор на дороге</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/fIgqDe3G1iY.png" class="image" />
			<h5 class="text">1.35 Сезонные миграции земноводных</h5>
			<h5 class="text">Описание: Участок дороги, на котором возможны массовые появления земноводных на проезжей части</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/0r7xItnw2LY.png" class="image" />
			<h5 class="text">1.36 Контроль установленной скорости движения транспортных средств</h5>
			<h5 class="text">Описание: Участок дороги, на котором осуществляется контроль за соблюдением установленной скорости движения с использованием технических средств в автоматическом режиме. Знак устанавливается совместно со знаком 3.24.1 или 3.24.2, определяющими скорость движения, соблюдение которой контролируется, если их изображения не нанесены непосредственно на знак 1.36</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/K-eyTd2y85E.png" class="image" />
			<h5 class="text">1.37 Контроль выполнения требований Правил дорожного движения</h5>
			<h5 class="text">Описание: Участок дороги, на котором осуществляется контроль соблюдения Правил дорожного движения с использованием технических средств в автоматическом режиме. Может устанавливаться совместно со светофорами либо знаками, соблюдение требований которых контролируется</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/_H2NTClRjYs.png" class="image" />
			<h5 class="text">1.38 Начало участка контроля средней скорости движения транспортных средств</h5>
			<h5 class="text">Описание: Информирование о начале участка дороги, на котором осуществляется контроль средней скорости движения транспортных средств с использованием технических средств в автоматическом режиме. Знак устанавливается совместно со знаком 3.24.1 или 3.24.2, определяющими скорость движения, соблюдение которой контролируется, если их изображения не нанесены непосредственно на знак 1.38</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/7Otkwv60Gf4.png" class="image" />
			<h5 class="text">1.39 Конец участка контроля средней скорости движения транспортных средств</h5>
			<h5 class="text">Описание: Информирование о конце участка дороги, на котором осуществляется контроль средней скорости движения транспортных средств с использованием технических средств в автоматическом режиме</h5>
		</div>
	</div>
	<h5>7. Знаки 1.1, 1.2, 1.5–1.30, 1.32–1.35 устанавливаются вне населенных пунктов на расстоянии от 150 до 300 метров, а в населенных пунктах — как правило, на расстоянии от 50 до 100 метров до начала опасного участка дороги. При необходимости (начало опасного участка дороги скрыто от водителя крутым поворотом, переломом продольного профиля, зданием и т.п.) указанные знаки могут быть установлены на ином расстоянии, которое в таком случае указывается на табличке 7.1.1.</h5>
	<h5>8. Знаки 1.1, 1.2, 1.9, 1.10, 1.21, 1.23 повторяются вне населенных пунктов и устанавливаются на расстоянии от 20 до 50 метров до начала опасного участка дороги. Знак 1.23 повторяется также в населенных пунктах и устанавливается непосредственно у начала участка проведения ремонтных и других работ. За начало участка следует считать первое по ходу движения ограждающее или направляющее устройство.</h5>
	<h5>9. Знаки 1.3.1, 1.3.2, 1.31.1–1.31.5 устанавливаются в пределах опасного участка дороги или непосредственно перед ним.</h5>
	<h5>10. Знаки 1.4.1–1.4.3 устанавливаются на правой стороне, а знаки 1.4.4–1.4.6 — на левой стороне дороги.</h5>
</div>
<div id="paragraph2">
	<h2 style="margin-top: 20px">§2 Знаки приоритета</h2>
	<h5>11. Знаки приоритета устанавливают очерёдность проезда перекрёстков, пересечений отдельных проезжих частей дорог, узких участков дорог, а также порядок проезда железнодорожных переездов и иных отдельных участков дорог, движение на которых не регулируется сигналами регулировщика или светофора.</h5>
	<div>
		<h5>12. К знакам приоритета относятся следующие:</h5>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_1.png" class="image" />
			<h5 class="text">2.1 Главная дорога</h5>
			<h5 class="text">Описание: Предоставляется право преимущественного проезда перекрёстка (пересечения проезжих частей дорог).</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_2.png" class="image" />
			<h5 class="text">2.2 Конец главной дороги</h5>
			<h5 class="text">Описание: Отменяется право преимущественного проезда перекрёстка (пересечения проезжих частей дорог).</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_3_1.png" class="image" />
			<h5 class="text">2.3.1 Пересечение со второстепенной дорогой</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_3_2.png" class="image" />
			<h5 class="text">2.3.1 Примыкание второстепенной дороги</h5>
			<h5 class="text">Описание: Примыкание второстепенной дороги: 2.3.2 — справа, 2.3.3 — слева.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_3_3.png" class="image" />
			<h5 class="text">2.3.3 Примыкание второстепенной дороги</h5>
			<h5 class="text">Описание: Примыкание второстепенной дороги: 2.3.2 — справа, 2.3.3 — слева.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_3_4.png" class="image" />
			<h5 class="text">2.3.4 Пересечение равнозначных дорог</h5>
			<h5 class="text">Описание: Приближение к перекрёстку равных по значению дорог, на котором действуют требования пункта 110 Правил.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_4.png" class="image" />
			<h5 class="text">2.4 Уступить дорогу</h5>
			<h5 class="text">Описание: Необходимо уступить дорогу транспортным средствам, движущимся по пересекаемой дороге, а при наличии таблички 7.13 — транспортным средствам, движущимся по главной дороге, а также справа по равнозначной дороге. Знак, установленный на главной дороге, обозначает также конец главной дороги.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_5.png" class="image" />
			<h5 class="text">2.5 Движение без остановки запрещено</h5>
			<h5 class="text">Описание: Запрещается движение без остановки перед знаком 5.33 (горизонтальной дорожной разметкой 1.12), а при их отсутствии — перед краем пересекаемой проезжей части дороги. Необходимо уступить дорогу транспортным средствам, движущимся по пересекаемой дороге, а при наличии таблички 7.13 — транспортным средствам, движущимся по главной дороге, а также справа по равнозначной дороге. При подъезде к участку дороги, на котором установлен знак, а также к железнодорожному переезду, движение через который не запрещено, водитель должен остановиться перед знаком 5.33 (горизонтальной дорожной разметкой 1.12).</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_6_1.png" class="image" />
			<h5 class="text">2.6.1 Преимущество встречного движения</h5>
			<h5 class="text">Описание: Запрещается въезд на участок дороги, если это может затруднить встречное движение. Необходимо уступить дорогу транспортным средствам, находящимся на данном участке дороги или на противоположном подъезде к нему.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_6_2.png" class="image" />
			<h5 class="text">2.6.2 Преимущество встречного движения</h5>
			<h5 class="text">Описание: Запрещается въезд на участок дороги, если это может затруднить встречное движение. Необходимо уступить дорогу транспортным средствам, находящимся на данном участке дороги или на противоположном подъезде к нему.</h5>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/35/2_7.png" class="image" />
			<h5 class="text">2.7 Преимущество перед встречным движением</h5>
			<h5 class="text">Описание: Участок дороги, при движении по которому водитель пользуется преимуществом по отношению к встречным транспортным средствам.</h5>
		</div>
	</div>
	<h5>13. Знак 2.1 устанавливается непосредственно перед перекрёстком, в том числе с табличкой 7.13 — перед перекрёстком со сложной планировкой или на котором главная дорога изменяет направление. При этом вне населённых пунктов перед перекрёстком, на котором главная дорога изменяет направление, знак 2.1 повторяется: первый знак 2.1 с табличками 7.1.1 и 7.13 устанавливается на расстоянии от 100 до 150 метров до перекрёстка, второй знак 2.1 с табличкой 7.13 — непосредственно перед перекрёстком. Знак 2.1, установленный со знаком 5.22.1 или 5.22.2, предоставляет преимущество при проезде всех перекрёстков населённого пункта, расположенных на данной дороге.</h5>
	<h5>14. Установленные на регулируемых перекрёстках знаки 2.1, 2.4, 2.5 не определяют очерёдность проезда перекрёстков и отдельных проезжих частей дороги, а информируют водителей, что перекрёстки являются обозначенными.</h5>
	<h5>15. Знаки 2.3.1–2.3.3 применяются вне населённых пунктов для обозначения дорог, на которых предоставляется преимущество при проезде перекрёстков, и устанавливаются на расстоянии от 150 до 300 метров до перекрёстка. Знак 2.3.4 устанавливается вне населённых пунктов на расстоянии от 150 до 300 метров, а в населённых пунктах — как правило, на расстоянии от 50 до 100 метров до перекрёстка.</h5>
	<h5>16. Знак 2.4 устанавливается непосредственно перед перекрёстком, а при наличии полосы разгона — перед началом этой полосы. Перед перекрёстком, на котором главная дорога изменяет направление, знак 2.4 устанавливается с табличкой 7.13. Вне населённых пунктов на дорогах с усовершенствованным покрытием знак 2.4 с табличкой 7.1.1 или 7.1.2 устанавливается на расстоянии от 150 до 300 метров до перекрёстка. В населённых пунктах знак 2.4 с табличкой 7.1.1 или 7.1.2 может устанавливаться на расстоянии от 50 до 100 метров до перекрёстка.</h5>
</div>