@{
	ViewData["Title"] = $"Дорожные знаки";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
}

<h1 id="title">Дорожные знаки</h1>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Описание дорожных знаков</a></p>
	<p><a href="#paragraph1" class="section">§1 Предупреждающие знаки</a></p>
</div>
<div id="section1">
	<div>
		<h2 style="margin-top: 30px">ГЛАВА 1</h2>
		<h2 style="margin-top: 20px">Описание дорожных знаков</h2>
	</div>
	<h5>1. Дорожные знаки (если не определено иное, далее — знаки) изготавливаются и устанавливаются в соответствии с настоящим приложением и требованиями технических регламентов Таможенного союза и Евразийского экономического союза.</h5>
	<h5>
		2. Знаки подразделяются на:<br />

		— постоянные и временные;<br />

		— предупреждающие, знаки приоритета, запрещающие, предписывающие, информационно-указательные, знаки сервиса и знаки дополнительной информации (таблички) (если не указано иное, далее — таблички).
	</h5>
	<h5>3. Знаки на желтом фоне, за исключением дорожных знаков «Контроль установленной скорости движения транспортных средств», «Начало участка контроля средней скорости движения транспортных средств», «Конец участка контроля средней скорости движения транспортных средств», «Контроль выполнения требований Правил дорожного движения», относятся к временным и применяются как отдельно, так и в сочетании с другими временными техническими средствами организации дорожного движения в местах производства ремонтных и других работ на дороге, а также в случаях оперативного изменения в организации дорожного движения, связанного с обеспечением его безопасности или проведением специальных мероприятий.</h5>
	<h5>4. В случаях, когда значения временных и постоянных знаков противоречат друг другу, участники дорожного движения должны руководствоваться временными знаками.</h5>
</div>
<div id="paragraph1">
	<h2 style="margin-top: 20px">§1 Предупреждающие знаки</h2>
	<h5>5. Предупреждающие знаки информируют водителей о приближении к опасному участку дороги, движение по которому требует принятия мер, соответствующих дорожной обстановке, об осуществлении контроля выполнения требований настоящих Правил.</h5>
	<div>
		<h5>6. К предупреждающим знакам относятся следующие:</h5>
		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/r2ad7bOt7nw.png" class="image" />
			<h6 class="text">1.1 Железнодорожный переезд со шлагбаумом</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/IZkB6jVkRkE.png" class="image" />
			<h6 class="text">1.2 Железнодорожный переезд без шлагбаума</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/TAEb2SX72oY.png" class="image" />
			<h6 class="text">1.3.1 Однопутная железная дорога</h6>
			<h6 class="text">Описание: Переезд через железную дорогу с одним путем</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Gd14ooucQ4Y.png" class="image" />
			<h6 class="text">1.3.2 Многопутная железная дорога</h6>
			<h6 class="text">Описание: Переезд через железную дорогу с двумя и более путями</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/BI3td2CeWcE.png" class="image" />
			<h6 class="text">1.4.1 Приближение к железнодорожному переезду</h6>
			<h6 class="text"></h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Iqn8Qhte1t4.png" class="image" />
			<h6 class="text">1.4.2 Приближение к железнодорожному переезду</h6>
			<h6 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/NobmCoOd8MQ.png" class="image" />
			<h6 class="text">1.4.3 Приближение к железнодорожному переезду</h6>
			<h6 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/Mrr7hibc9t0.png" class="image" />
			<h6 class="text">1.4.4 Приближение к железнодорожному переезду</h6>
			<h6 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/ZfMo3MnisLE.png" class="image" />
			<h6 class="text">1.4.5 Приближение к железнодорожному переезду</h6>
			<h6 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h6>
		</div>

		<div class="road-signs">
			<img src="https://pddonline.by/media/uploads/images/2024/01/wTQqA2yqWNI.png" class="image" />
			<h6 class="text">1.4.6 Приближение к железнодорожному переезду</h6>
			<h6 class="text">Описание: Дополнительное предупреждение о приближении к железнодорожному переезду вне населенных пунктов</h6>
		</div>
	</div>
</div>
