@{
	ViewData["Title"] = $"Устройство авто";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
	@* 	<link rel="stylesheet" href="~/css/Questions.css asp-append-version="true" /> *@
}

<h1 id="title">Неисправности</h1>

<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Тормозные системы</a></p>
</div>

<div id="section1">
	<h2 style="margin-top: 20px">Глава 1. Тормозные системы</h2>
	<h5>1. Эффективность торможения или устойчивость транспортного средства при торможении рабочей тормозной системы не соответствует установленным требованиям.</h5>
	<h5>2. Нарушена герметичность гидравлического тормозного привода, имеется подтекание тормозной жидкости.</h5>
	<h5>3. Нарушена герметичность пневматического или пневмогидравлического тормозного привода, которая ведёт к падению давления воздуха при неработающем двигателе более чем на 0,05 МПа (0,5 кг/см2) за 15 минут после полного приведения указанного привода в действие.</h5>
	<h5>4. Не действует манометр пневматического или пневмогидравлического тормозного привода.</h5>
	<h5>
		5. 
		Стояночная тормозная система не обеспечивает неподвижного состояния:
		Транспортных средств с полной нагрузкой на уклоне до 16 процентов включительно;
		Легковых автомобилей и автобусов в снаряжённом состоянии на уклоне до 23 процентов включительно;
		Грузовых автомобилей и автопоездов в снаряжённом состоянии на уклоне до 31 процента включительно.
	</h5>
	<h5>6. Рычаг (рукоятка) управления стояночной тормозной системой не удерживается запирающим устройством.</h5>
	<h5>
		7.
		Имеются:
		Детали с трещинами или остаточной деформацией;
		Не предусмотренный конструкцией контакт трубопровода тормозного привода с элементами транспортного средства.
	</h5>
</div>