@{
	ViewData["Title"] = $"Дорожные знаки";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Sections.css" asp-append-version="true" />
	@* 	<link rel="stylesheet" href="~/css/AllQuestions.css asp-append-version="true" /> *@
}

<h1 id="title">Дорожные знаки</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Admin" asp-action="AddQuestions" style="margin-left: 0px; text-decoration: none">Добавить вопрос</a>
</div>
<div class="sections">
	<p><a href="#section1" class="section">Глава 1. Описание дорожных знаков</a></p>
</div>
<div id="section1">
	<div>
		<h2 style="margin-top: 30px">ГЛАВА 1</h2>
		<h2 style="margin-top: 20px">Описание дорожных знаков</h2>
	</div>
	<h5>1. Дорожные знаки (если не определено иное, далее — знаки) изготавливаются и устанавливаются в соответствии с настоящим приложением и требованиями технических регламентов Таможенного союза и Евразийского экономического союза.</h5>
	<h5>
		2. Знаки подразделяются на:<br />

		— постоянные и временные;<br />

		— предупреждающие, знаки приоритета, запрещающие, предписывающие, информационно-указательные, знаки сервиса и знаки дополнительной информации (таблички) (если не указано иное, далее — таблички).
	</h5>
	<h5>3. Знаки на желтом фоне, за исключением дорожных знаков «Контроль установленной скорости движения транспортных средств», «Начало участка контроля средней скорости движения транспортных средств», «Конец участка контроля средней скорости движения транспортных средств», «Контроль выполнения требований Правил дорожного движения», относятся к временным и применяются как отдельно, так и в сочетании с другими временными техническими средствами организации дорожного движения в местах производства ремонтных и других работ на дороге, а также в случаях оперативного изменения в организации дорожного движения, связанного с обеспечением его безопасности или проведением специальных мероприятий.</h5>
	<h5>4. В случаях, когда значения временных и постоянных знаков противоречат друг другу, участники дорожного движения должны руководствоваться временными знаками.</h5>
</div>
