@{
	ViewData["Title"] = $"Устройство авто";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
	@* 	<link rel="stylesheet" href="~/css/Questions.css asp-append-version="true" /> *@
}

<h1 id="title">Устройство авто</h1>

<div id="question-container">
	<a class="text-dark" asp-area="" asp-controller="Admin" asp-action="AllQuestions" asp-route-topic="CarDevice" style="margin-left: 0px; text-decoration: none">Вопросы</a>
	<div class="vertical-line"></div>
	<a class="text-dark" asp-area="" asp-controller="Admin" asp-action="AddQuestions" style="margin-left: 0px; text-decoration: none">Добавить вопрос</a>
</div>